@import _mixins

.chromeperfectpixel-initial-block iframe,
#chromeperfectpixel-supported-by
	display: none !important
#__bs_notify__
	display: none !important
	opacity: 0 !important

#BAP-holder
	display: none !important

html
	font-size: 16px

	@media #{$media-xs}
		font-size: 16px

body
	font: $font-stack
	&.sidebar-opened
		overflow: hidden
		&.client-ios
			position: fixed
			height: 100%
			width: 100%
	&.loaded
		#tablet-mobile-menu
			display: block


*
	box-sizing: border-box
	margin: 0
	padding: 0

h1, h2, h3

h1
	font-family: 'graphik', Arial, sans-serif
	margin: 0 0 4px
	font-weight: bolder
	letter-spacing: -0.01em
	font-size: 34px
	line-height: 40px
	margin-top: 4px
	margin-bottom: 10px

li
	list-style: none

iframe, fieldset
	border: none

p
	font-size: 1rem

a
	color: #003580
	text-decoration: none

button
	border: none

.container
	margin: 0 auto
	max-width: 964px

.hidden
	display: none !important

.mobile-hidden
	@media #{$media-sm}
		display: none !important

.mobile-visible
	@media #{$media-sm-min}
		display: none !important

.usability
	left: -10000px
	position: absolute
	text-align: left
	width: 1px
	height: 1px
	overflow: hidden

.no-border
	border: none!important

.inline-middle
	font-size: 0
	letter-spacing: 0
	& > *
		display: inline-block
		font: $font-stack
		vertical-align: middle

.inline-top
	font-size: 0
	letter-spacing: 0
	& > *
		display: inline-block
		font: $font-stack
		vertical-align: top

.inline-bottom
	font-size: 0
	letter-spacing: 0
	& > *
		display: inline-block
		font: $font-stack
		vertical-align: bottom


//----------------------------------
// GLOBAL
//----------------------------------
.wai
	height: 1px!important
	min-height: 1px!important
	width: 1px!important
	min-width: 1px!important
	padding: 0!important
	overflow: hidden!important
	left: -10000px!important
	position: absolute!important
.art-ins
	.ins
		padding: 4px
.btn-grey
	font-weight: 700
	font-size: 0.8em
	padding: 0 3px
	cursor: pointer
	background: transparent url(../img/icons/button_bg.gif) repeat-x 0 0
	color: #666
	display: inline-block
.btn
	margin-top: 5px
	margin-left: 4px
	display: inline-block
	vertical-align: middle
	position: relative
	outline: none
	cursor: pointer
	text-align: center
	text-decoration: none
	font-size: 12px
	font-family: Arial,serif
	font-weight: 700
	padding: 8px 11px
	border-radius: 3px
	min-width: 37px
	vertical-align: middle
	color: #004db3
	border: 1px solid silver
	background: #e4e1e1
	background: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e3e3e3))
	background: -moz-linear-gradient(top,#f5f5f5,#e3e3e3)
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5',endColorstr='#E3E3E3')
	&.btn-disabled
		cursor: default
		background: #f5f5f5
		color: #c1c1c1
	&.left
		border-top-right-radius: 0
		border-bottom-right-radius: 0
		position: relative
		right: -5px
	&.right
		margin-left: 0
		border-top-left-radius: 0
		border-bottom-left-radius: 0


//----------------------------------
// COLORS
//----------------------------------
.home-category-color
	background: #004db3
	a
		background: #004db3
		border-color: #e8f3ff
		color: #e8f3ff
	.active
		&:before
			background-color: #e8f3ff
.news-category-color
	background: #00aad2
	a
		background: #00aad2
		border-color: #e8fbff
		color: #e8fbff
	.active
		&:before
			background-color: #e8fbff
.sport-category-color
	background: #0cac0c
	a
		background: #0cac0c
		border-color: #e8ffe8
		color: #e8ffe8
	.active
		&:before
			background-color: #e8ffe8
.tvshowbiz-category-color
	background: #e01c44
	a
		background: #e01c44
		border-color: #ffe8ed
		color: #ffe8ed
	.active
		&:before
			background-color: #ffe8ed
.femail-category-color
	background: #c562a5
	a
		background: #c562a5
		border-color: #f7e7ff
		color: #f7e7ff
	.active
		&:before
			background-color: #f7e7ff
.health-category-color
	background: #3cc
	a
		background: #3cc
		border-color: #edffff
		color: #edffff
	.active
		&:before
			background-color: #edffff
.science-category-color
	background: #f60
	a
		background: #f60
		border-color: #fff0e6
		color: #fff0e6
	.active
		&:before
			background-color: #fff0e6
.money-category-color
	background: #451344
	a
		background: #451344
		border-color: #f1e8f8
		color: #f1e8f8
	.active
		&:before
			background-color: #f1e8f8
.video-category-color
	background: #004db4
	a
		background: #004db4
		border-color: #e8f3ff
		color: #e8f3ff
	.active
		&:before
			background-color: #e8f3ff
.travel-category-color
	background: #082340
	a
		background: #082340
		border-color: #e3edf8
		color: #e3edf8
	.active
		&:before
			background-color: #e3edf8



.home-category-hover
	a:hover
		color: #004db3
	&.active
		&:before
			background-color: #004db3
.news-category-hover
	a:hover
		color: #00aad2
	&.active
		&:before
			background-color: #00aad2
.sport-category-hover
	a:hover
		color: #0cac0c
	&.active
		&:before
			background-color: #0cac0c
.tvshowbiz-category-hover
	a:hover
		color: #e01c44
	&.active
		&:before
			background-color: #e01c44
.femail-category-hover
	a:hover
		color: #c562a5
	&.active
		&:before
			background-color: #c562a5
.health-category-hover
	a:hover
		color: #3cc
	&.active
		&:before
			background-color: #3cc
.science-category-hover
	a:hover
		color: #f60
	&.active
		&:before
			background-color: #f60
.money-category-hover
	a:hover
		color: #451344
	&.active
		&:before
			background-color: #451344
.video-category-hover
	a:hover
		color: #004db4
	&.active
		&:before
			background-color: #004db4
.travel-category-hover
	a:hover
		color: #082340
	&.active
		&:before
			background-color: #082340

//----------------------------------
// END COLORS
//----------------------------------

//----------------------------------
// HEADER
//----------------------------------
.page-header
	// border: 1px solid #e3e3e3
	margin-bottom: 8px

//----------------------------------
// END HEADER
//----------------------------------

//----------------------------------
// FEMAIL
//----------------------------------
.header-femail
	background: transparent url(http://i.dailymail.co.uk/i/pix/channelheaders/femail_masthead.gif) 100% 50% no-repeat
	border-top: 1px solid #e3e3e3
	margin: 26px 0 0

.masthead
	height: 91px
	background-position: 100%
	background-repeat: no-repeat
	position: relative
	.logo-main
		margin-top: 8px

//----------------------------------
// END FEMAIL
//----------------------------------


//----------------------------------
// NAVIGATION
//----------------------------------
.nav-primary,
.nav-secondary
	li
		display: inline-block
.nav-primary
	background: url('../img/bg/navigation_bottom.gif') repeat-x 0 100%
	border: 1px solid silver
	border-bottom: none
	padding: 4px 0 3px
	a
		color: #333
		margin: 4px 0 7px
		padding: 0 3px 0 6px
		border-left: 1px solid #000
		font-size: 15px
		font-weight: bold
		margin: 4px 0 7px
	li
		&.active
			position: relative
			a
				border: none
				color: #fff
				padding: 0 5px 0 6px
				z-index: 1
				position: relative
			&:before
				content: ''
				position: absolute
				left: -2px
				right: -2px
				top: -1px
				bottom: -2px
				border-top-right-radius: 5px
				border-top-left-radius: 5px
				z-index: 0
			& + li
				a
					border: none
.nav-secondary
	font-size: 0
	letter-spacing: 0
	padding: 2px 0 2px
	white-space: nowrap
	& > *
		white-space: normal
	a
		color: #f7e7ff
		font-weight: bold
		font-size: 0.75em
		padding: 0 6px
		border-left-width: 1px
		border-left-style: solid
		&:hover
			text-decoration: underline
	li
		font-size: 0
		vertical-align: middle
		color: #ffe8ed
		font-size: 16px
		&:first-child
			a
				border: none
		&.active
			a
				font-style: italic
		a
			font-size: 0s.75rem
			vertical-align: bottom
			white-space: normal
	.column-left,
	.column-right
		display: inline-block
		vertical-align: top
	.column-left
		width: 100% - 12%
		width: calc(100% - 140px)
	.column-right
		width: 12%
		width: calc(140px)

		text-align: right
//----------------------------------
// END NAVIGATION
//----------------------------------


//----------------------------------
// PAGE CONTAINER
//----------------------------------
.page-container
	@extend .inline-top
	.column-left
		width: 66%
		margin-right: 2%
	.column-right
		width: 32%
//----------------------------------
// END PAGE CONTAINER
//----------------------------------

//----------------------------------
// MAIN AD SECTION
//----------------------------------
.ad-container
	margin-bottom: 15px
	.ad-section
		margin: 0 -3px
//----------------------------------
// END MAIN AD SECTION
//----------------------------------

//----------------------------------
// LEFT COL
//----------------------------------
.page-container .column-left
	line-height: 1.2em
//----------------------------------
// END LEFT COL
//----------------------------------

//----------------------------------
// END RIGHT COL
//----------------------------------
.page-container .column-right
	.item
	.beta_search_wrapper
		label
			font-size: 0.75em
			margin-left: -4px
	.bow
		color: #000
		background-color: #fff
	.bing
		background: #003a87 url(../img/icons/spt_search.png) 0 -100px repeat-x
		border-radius: 4px
		input
			height: auto
			font-size: 1.15em
		font-size: 0.83em
		background: #003a87 url(../img/icons/spt_search.png) 0 -100px repeat-x
		padding: 2px
		&.money
			font-size: 0.83em
			background: #003a87 url(../img/icons/spt_search3.png) 0 -100px repeat-x
			padding: 2px
		&.home
			font-size: 0.83em
			background: #003a87 url(../img/icons/spt_search.png) 0 -100px repeat-x
			padding: 2px
		.bing-logo
			display: block
			float: right
			margin-right: 4px
			width: 56px
			height: 31px
			background: url(../img/icons/spt_search.png) 0 -1px no-repeat
			cursor: pointer
			display: inline
		.bow
			float: left
			width: 236px
			border: 1px solid #004db3
			height: 31px
		.ctnr-l, .ctnr-r
			display: block
			padding: 4px 4px 4px 0
			min-height: 21px
			height: 21px
		.ctnr-l
			width: 80px
			height: 31px
			float: left
			font-size: 1.1em
			border-right: 1px solid #004db3
			padding-right: 0
			line-height: 21px
			input
				margin: -3px 1px 0 2px
				vertical-align: middle
				width: 13px
				height: 13px
				margin-top: -1px
				outline: none
		.ctnr-r
			width: 150px
			float: right
		.text-input, button
			vertical-align: top
			border: 0

	.search-button
		&.home
			display: block
			float: right
			margin-right: 4px
			width: 56px
			height: 31px
			background: url(../img/bg/spt_search.png) 0 -1px no-repeat
			cursor: pointer
			display: inline

	.text-input
		padding: 0 1px
		min-height: 21px
		font-size: 1.4em
		width: 120px
		outline: none
		line-height: 21px
		margin: -1px 0
		height: 21px
		overflow: visible
		-webkit-appearance: caret
	button
		background: #d6dbd8 url(../img/icons/spt_search.png) 0 -50px no-repeat
		width: 21px
		height: 21px
		&::-moz-focus-inner
			border: 0
.column-right
	.femail
		.wocc
			color: #fff
			background-color: #c562a5
			border-top-right-radius: 7px
			border-top-left-radius: 7px
			padding: 4px 5px 2px
			font-size: 1.05em
			line-height: 1.2em

//----------------------------------
//  RIGHT COL VETAL
//----------------------------------
.right-sidebar-holder
	margin-top: 4px
.html_snippet_module
	margin-top: 31px
	margin-bottom: 7px
.dms-puff
	li
		height: 40px
		width: 152px
		padding: 0
		margin-bottom: 3px
		display: inline-block
		overflow: hidden
		vertical-align: top
		&.facebook
			a
				background-position: 0 0
		&.twitter
			a
				background-position: -152px 0
		&.pinterest
			a
				background-position: 304px 0
		&.gplus
			a
				background-position: 152px 0
	a
		height: 100%
		width: 100%
		font-size: 0.75em
		line-height: 1.2em
		padding: 6px 0 0 46px
		color: #fff
		background-image: url(../img/icons/like-follow_4.png)
		display: inline-block
		cursor: pointer
	span
		display: block

.side-article
	display: inline-block
	height: 120px
	padding: 4px 163px 5px 5px 
	position: relative
	background: #e3e3e3
	margin-top: 5px
	&:hover
		background: #c562a5
		a
			color: #fff
			strong
				color: #fff
		.arrow-small-r
			background-position: -20px -120px
	.arrow-small-r
		margin: 3px 1px 0 0
		width: 5px
		height: 11px
		background: url(../img/icons/spt_arrows_8.gif) no-repeat -160px -120px
		font-size: 1px
		display: inline-block
		vertical-align: middle
		margin-right: 2px
	a
		display: inline-block
		color: #000
		strong
			color: #004db3
	img
		width: 154px
		height: 100%
		position: absolute
		top: 0px
		right: 0px
	p
		font-size: 0.75em
		line-height: 1.17em
	b
		font-size: 0.75em
//----------------------------------
//  END RIGHT COL VETAL
//---------------------------------

//----------------------------------
// END RIGHT COL
//----------------------------------



//----------------------------------
// END VETAL
//----------------------------------
.mol-bullets-with-font
	padding-left: 17px
	li
		list-style: disc
		line-height: 1.3em
	strong
		display: inline
		font-family: graphik
		font-size: 16.8px
		font-weight: bold
		height: auto
		letter-spacing: -0.168px
		line-height: 22px
		list-style-image: none
		list-style-position: outside
		list-style-type: disc

.author-section
	margin-top: 12px
	padding-top: 7px
	border-top: 1px solid #e3e3e3
	font-size: 14px	
	a.author
		text-transform: uppercase
.byline-section,
.author-section,
#articleIconLinksContainer,
.mol-para-with-font,
.related-carousel,
.article-text .imageCaption,
.mol-factbox
	font-family: graphik
	letter-spacing: -.01em

.byline-section
	color: #666

.article-timestamp
	font-size: 0.8em
	line-height: 0.6em
	.article-timestamp-label
		font-weight: 700
		text-transform: uppercase

.social-links
	margin-bottom: 16px
	padding: 9px 0
	border-top: 1px solid #e3e3e3
	border-bottom: 1px solid #e3e3e3
	// height: 52px
	margin: 8px 0
	position: relative
	padding-right: 80px
	&.cleared
		border: 0
		margin-top: 1px
	li
		display: inline-block
		padding: 0
		margin-right: 4px
		cursor: pointer
		height: 40px
		width: 40px
		vertical-align: top
		background-image: url(../img/icons/i3rUAAAAASUVORK5CYII=.png)
	.share-facebook
		background-position: -707px -40px
		width: 115px
		&:hover
			background-position: -707px 0
	.share-twitter
		background-position: -50px -40px
		&:hover
			background-position: -50px 0
	.share-pinterest
		background-position: -657px -40px
		&:hover
			background-position: -657px 0
	.share-gplus
		background-position: -100px -40px
		&:hover
			background-position: -100px 0
	.share-email
		background-position: -150px -40px
		&:hover
			background-position: -150px 0
	.share-icons
		background-position: -250px -40px
		&:hover
			background-position: -250px 0
	.share-count
		background-image: none
		position: relative
		top: -4px
		left: 8px
		pointer-events: none
		b
			font-size: 32px
			display: block
			line-height: 1.16em
		span
			height: 14px
			font-size: 0.75em
			font-weight: 400
			color: #000
			position: relative
			top: -9px
			right: -1px
	.comments-count
		position: absolute
		right: 0
		top: 11px
		width: inherit
		font-size: 1.2em
		text-decoration: none
		padding-top: 1px
		color: #004db3
		span
			top: -6px
			left: -23px
			position: absolute
			display: block
			height: 18px
			width: 20px
			background: #fff url(../img/icons/i3rUAAAAASUVORK5CYII=.png) -832px 0
			margin-top: 4px
		.count-number
			font-weight: 700
			text-align: right
			font-size: 32px
			margin-bottom: 0
		.count-text
			position: absolute
			width: 90px
			right: 0
			bottom: -15px
			text-align: right
			font-size: 12px
			margin-top: -1px
			line-height: 10px
			margin-left: 6px
			white-space: nowrap
.mol-para-with-font
	font-size: 16px
	line-height: 23px
	margin-bottom: 16px

.mol-para-with-font
	margin-bottom: 16px

.mol-para-with-font
	margin-top: 17px
.mol-style-bold
	font-weight: 700

.artSplitter
	margin: 0 auto 4px
	width: 636px
	.splitLeft
		margin-right: 14px
	.splitLeft,
	.splitRight
		width: 308px
		display: inline-block

img.blkBorder
	border: 1px solid #000

.article-text
	.imageCaption
		font-size: 14px!important
		line-height: 18px!important
		border-bottom: 1px solid #e3e3e3
		padding: 1px 0 4px
		margin: 0 0 16px
		font-weight: 700

.related-carousel
	padding-left: 165px
	position: relative
	h2
		font-size: 16px
		line-height: 18px
		text-transform: uppercase
		margin-top: 12px
		margin-bottom: 11px
	.fb
		width: 144px
		position: absolute
		left: 0px
		top: 0px
		height: 115px
		border: solid #3b579d
		border-width: 2px 0
		.share
			width: 115px
			height: 40px
			cursor: pointer
			background: url(../img/icons/i3rUAAAAASUVORK5CYII=.png) no-repeat -707px -40px
			&:hover
				background-position: -707px 0
	.rotator
		height: 115px
		border: solid #c562a5
		border-width: 2px 0
		position: relative
		overflow: hidden
		.rotator-pages
			position: absolute
			top: 13px
			right: 5px
			li
				display: inline-block
				vertical-align: middle
				height: 9px
				width: 9px
				margin: 0 3px
				&.rotator-prev,
				&.rotator-next
					width: 13px
					height: 20px

					a
						width: 13px
						height: 20px
						background: url(../img/icons/carousel_arrows_3.png) 0 -627px
						margin-top: 0
				&.rotator-next
					a
						background: url(../img/icons/carousel_arrows_3.png) -28px -627px

				&.disabled
					a
						opacity: 0.4
						cursor: default
				a
					text-indent: -99999em
					height: 9px
					width: 9px
					border-radius: 50%
					background: #ffcccc
					display: inline-block
				&.active
					a
						background: #c562a5
						cursor: default

		.rotator-panels
			white-space: nowrap
			font-size: 0
			letter-spacing: 0
			width: 1000px
			a
				width: 234px
				display: inline-block
				padding-left: 70px
				position: relative
				background: #f5f5f5
				color: #000
				margin-right: 4px
				&:hover
					color: #c562a5
				img
					position: absolute
					height: 60px
					width: 60px
					left: 0px
					top: 0px
			li
				display: inline-block
				font-size: inherit
				letter-spacing: inherit
				font-size: 13px
				white-space: normal
				font-weight: 700

.mol-factbox
	width: 308px
	display: inline-block
	background: #f7e7ff
	vertical-align: top
	height: 269px
	border: 1px solid #c562a5
	margin-right: 6px
	.mol-para-with-font
		margin-top: 0
	h3
		color: #fff
		background: #c562a5
		font-weight: bold
		font-size: 20px
		line-height: 24px
		padding: 5px

.social-links-title
	display: block
	font-size: 16px
	font-weight: 700
	margin: 0
	padding: 0
	color: #000
	background-color: transparent
	border-bottom: 1px solid #e3e3e3

.mol-fe-rotator-item
	width: 25%

.channel-header,
.rotator-title.wocc
	color: #fff
	background: #00aad2
	padding: 0 10px
	text-transform: uppercase
	font-size: 16px
	height: 36px
	line-height: 36px

.mol-fe-rotator-body
	font-size: 0
	letter-spacing: 0
.mol-fe-rotator-item
	width: 25%
	display: inline-block
	font-size: 14px
	padding: 1px
	padding-top: 2px
	overflow: hidden
	height: 149px
	position: relative
	vertical-align: top
	a.videoLink
		display: inline-block
		height: 155px
		width: 100%
	.thumb
		width: 100%
		height: 155px
		display: inline-block
		background-position: 50% 50%
		background-size: cover
	.description-wrapper
		position: absolute
		bottom: -21px
		background: black
		color: #fff
		height: 64px
		padding: 6px
		z-index: 2
		left: 1px
		font-size: 14px
		line-height: 17px
		overflow: hidden
		transition: background .35s, bottom .35s
		width: 155px
	&:hover
		.description-wrapper
			background: #00aad2
			bottom: 0
			transition: background .35s, bottom .35s
#most-watched-videos-wrapper
	width: 629px
#most-read-news-wrapper
	margin: 15px 0 5px
	overflow: hidden
	.rotator-panels
		width: 1000px
		font-size: 0
		letter-spacing: 0
		padding-left: 40px
	.rotator-pages
		position: absolute
		left: 0
		top: 38px
		height: 141px
		width: 100%
		.rotator-prev
			position: relative
			left: 0
			top: 0
			display: inline-block
			height: 100%
			background: #f3e0e0
			width: 40px
			text-indent: -9999px
			z-index: 2
			opacity: 0.9
			cursor: pointer
			.bg
				position: absolute
				top: 50%
				left: 50%
				display: block
				width: 20px
				height: 33px
				background: url(../img/icons/carousel_arrows_3.png) no-repeat 0 -99px
				transform: translateX(-50%) translateY(-50%)
		.rotator-next
			position: absolute
			top: 0
			right: 0
			height: 100%
			width: 40px
			background: #f3e0e0
			text-indent: -99999px
			z-index: 2
			opacity: 0.9
			cursor: pointer
			.bg
				position: absolute
				top: 50%
				left: 50%
				display: block
				width: 20px
				height: 33px
				background: url(../img/icons/carousel_arrows_3.png)
				background-position: -28px -99px
				transform: translateX(-50%) translateY(-50%)

.most-read-item
	display: inline-block
	width: 137px
	height: 142px
	overflow: hidden
	font-size: 14px
	position: relative
	padding: 2px
	padding-top: 2px
	.bdrcc
		display: inline-block
		position: absolute
		bottom: -18px
		height: 64px
		z-index: 1
		font-size: 15px
		background: #333
		padding: 6px
		color: #fff
		font-weight: 700
		font-size: 0.9em
		transition: bottom .35s, background .35s
	&:hover
		.bdrcc
			bottom: 0
			background: #00aad2
			transition: bottom .35s, background .35s
.rotator-title.wocc
	h2
		font-size: 14px
.rotator
	&.news
		width: 629px
		overflow: hidden
		position: relative
.list-paginator
	position: absolute
	top: -38px
	right: 0px
	height: 20px
	width: 60px
	.linkro-wocc
		width: 11px
		height: 11px
		display: inline-block
		a
			color: #fff
			opacity: 0.4
		&.link-wocc,
			a
				opacity: 1
		&:hover
			a
				opacity: 1


.article-reader-comments
	.rc-header
		padding: 15px 0 10px
		border-top: 1px solid #000
		font-weight: 700
		position: relative
		padding-right: 180px
		p
			font-weight: 400
			font-size: 14px
			margin: 0
		#addYourCommentButton
			display: inline-block
			position: absolute
			top: 15px
			right: 0
			visibility: hidden
	.cmnt-bl-3
		display: inline-block
		position: relative
		left: -8px
		top: -8px

	#rc-tabs
		font-size: 0
		letter-spacing: 0
		li
			display: inline-block
			width: 25%
			font-size: 13px
			font-weight: 700
			text-align: center
			color: #666
			background: #e3e3e3
			border: 1px solid #666
			border-top-right-radius: 5px
			border-top-left-radius: 5px
			a
				color: inherit
				&:hover
					text-decoration: underline
			&.linkro-bdrgr5
				background:  #666
				color: #fff

.view-more-container
	background-color: #666
	text-align: right
	position: relative
	top: -4px
	padding: 2px
	.comment-link-icon
		position: static
		display: inline-block
		background-position: -180px -80px
	.comment-link-text
		font-size: 12px
		vertical-align: middle
		display: inline-block
		line-height: 13px
		
.comment-link-icon
	background: url(../img/icons/KOUAilIMhbykIhMpCK5kAAAOw==.gif) -30px 0
	height: 12px
	left: 0
	margin-top: 2px
	position: absolute
	width: 19px
	font-size: .1em
	display: inline-block

#reader-comments
	.rc-title
		background-image: url(../img/icons/comment_ticker.png)
		position: relative
		font-size: 12px
		p
			padding: 6px
			font-size: 12px


.comments-list
	border-top: 1px solid silver
	margin-top: 4px
	background: #f5f5f5
.post-holder
	border-bottom: 1px solid silver
.reply-form
	background: #ebebeb
	border-top: 1px solid silver
	margin-left: 70px
	padding: 10px 5px 7px 40px
	textarea
		height: 45px
		width: 446px
		display: inline-block
		vertical-align: top
.see-all
	background: #e3e3e3
	margin-left: 70px
	text-align: center
	font-family: Arial,serif
	font-size: 13px
	color: #000
	word-wrap: break-word
	font-weight: 700
	padding: 7px
	a
		padding-left: 5px
		display: inline-block
		border-left: 1px solid #000
		padding-right: 20px
		position: relative
		.rc-down-arrow
			position: absolute
			background: url(../img/icons/spt_arrows_commentrating.png) no-repeat -301px 0
			display: inline-block
			width: 20px
			height: 10px
			margin-left: 5px
			top: 6px
			right: -5px
	span
		margin-right: 5px
.comment-post
	padding-left: 70px
	position: relative
	background: #f5f5f5
	&.answer
		border-bottom: 0
		border-top: 1px solid silver
		padding-left: 50px
		background: #ebebeb
		margin-left: 70px
		.avatar
			width: 35px
			height: 42px
			top: 10px
	&:hover >
		.reportAbuseIcon
			visibility: visible
		.post-footer
			.comments-share
				visibility: visible !important
	.avatar
		position: absolute
		height: 65px
		width: 55px
		left: 0px
		top: -5px

	.reportAbuseIcon
		position: absolute
		top: 6px
		right: 10px
		width: 11px
		height: 11px
		visibility: hidden
		background: url(../img/icons/spt_arrows_commentrating.png) no-repeat -490px 0
	.user-info
		margin: 5px 0
		padding-right: 40px
	.user-link
		font-size: 12px
		color: #003580
		&:hover
			text-decoration: underline
	.user-location
		font-size: 12px
		font-family: Arial,serif
		color: #999
	.post-text
		font-family: Arial,serif
		font-size: 13px
		color: #000
		word-wrap: break-word
		margin-top: 13px
	.post-footer
		border-top: 1px solid #e3e3e3
		text-align: right
		margin-top: 15px
		ul.comments-share
			display: inline-block
			padding-top: 7px
			padding-bottom: 10px
			visibility: hidden
			li
				display: inline-block
				a
					width: 20px
					height: 20px
					background: url(../img/icons/icon_share_23.png) left -40px no-repeat
					vertical-align: middle
					display: inline-block
					cursor: pointer
					&:hover
						background-position-y: -20px !important
					&.facebook
						background-position: 0 -40px
					&.twitter
						background-position: -25px -40px
					&.pinterest
						background-position: -125px -40px
					&.g-plus
						background-position: -50px -40px
					&.copyCommentLink
						background-position: -75px -20px

		.rate-holder
			display: inline-block
			.click-rate
				color: #666
				font-weight: 700
				font-size: 12px
				padding: 0 10px 0 30px
			.arrow
				padding: 1px 6px 1px 5px
				background-image: url(../img/icons/spt_arrows_commentrating.png)
				display: inline-block
				margin: 0
				position: absolute
				left: 5px
				top: 10px
				height: 19px
				width: 15px
			.up-rate,
			.dow-rate
				height: 36px
				position: relative
				display: inline-block
				outline: none
				cursor: pointer
				text-align: center
				text-decoration: none
				font-size: 13px
				line-height: 28px
				padding: 5px 6px 5px 21px
				min-width: 65px
				font-family: Arial,serif
				border-left: 1px solid #e3e3e3
				color: #0cac0c
				font-weight: 700
				&:hover
					.arrow
						background-position: 0 -50px
					
			.dow-rate
				color: red
				&:hover
					.arrow
						background-position: -50px -50px
				.arrow
					background-position: -50px 0
					
.bot-info
	background: #f9f9f9
	color: #666
	border: 1px solid #ececec
	font-size: 0.75em
	font-weight: 700
	padding: 5px
	line-height: 1.3em


.add-comment
	border-top: 1px solid #000
	margin-top: 10px
	h3
		padding: 15px 0
		color: #000
		background-color: transparent
		display: inline
		font-size: 1.2em
		line-height: 3em
		min-height: 86px
	.comment-body
		background: #f5f5f5
		padding: 8px 8px 47px
	textarea
		width: 100%
		min-height: 86px
		padding: 10px
	.comment-info
		position: relative
		p	
			font-size: 0.75em		
			padding-right: 200px
			margin-top: 5px
		a
			&:hover
				text-decoration: underline
		.buttons
			position: absolute
			top: 0px
			right: 0px
.topcommenter
	background: whitesmoke
	margin-top: 10px
	padding: 4px
	position: relative
	img
		display: inline-block
		vertical-align: middle
	p
		font-size: 16px
		font-weight: 700
		margin-left: 10px
	.link
		padding: 4px 11px
		margin-right: 3px
		margin-top: 0
		position: absolute
		top: 6px
		right: 4px
		&:hover
			text-decoration: underline

#infinite-list
	h2
		margin: 30px 0 15px
		padding: 4px 5px 2px
		font-size: 1.05em
		text-transform: uppercase
		color: #fff
		background: #00aad2
	.article
		position: relative
		min-height: 185px
		margin-bottom: 15px
		padding: 0 0 19px 328px
		border-bottom: 1px solid silver
		img
			width: 308px
			height: 185px
			position: absolute
			top: 0
			left: 0
		h3
			margin: 0 0 5px
			font-size: 1.12em
			line-height: 1.2em

		p
			margin: 0 0 5px
			font-size: 0.8em
			line-height: 1.2em
		.article-icon-links-container
			a
				font-size: 0.75em
				color: #000
				margin-top: 0px
				display: inline-block
				padding-left: 22px
				position: relative
				.icon
					position: absolute
					margin-top: 2px
					left: 0
					top: 0
					height: 13px
					width: 18px
					background-color: transparent
					background-image: url(../img/icons/spt_previewlinks_12.png)
					font-size: 1px
//----------------------------------
// END VETAL
//----------------------------------


//----------------------------------
// COMMENTS
//----------------------------------

// ul#rc-tabs.js-links.dm-tabs.cnr5.cleared
// 	li#ext-gen2.dm-tab.dm-tab-on.bdrgr5.cnr-bdr.wogr5.link-wox.js-active
// 		a(href='#') Newest
// 	li#ext-gen3.dm-tab.bdrgr5.ow-igr2-bx.cnr-bdr.xogr2.link-gr5ox
// 		a(href='#') Oldest
// 	li#ext-gen4.dm-tab.bdrgr5.ow-igr2-bx.cnr-bdr.xogr2.link-gr5ox
// 		a(href='#') Best rated
// 	li#ext-gen5.dm-tab.bdrgr5.ow-igr2-bx.cnr-bdr.xogr2.link-gr5ox.last
// 		a(href='#') Worst rated


//----------------------------------
// END COMMENTS
//----------------------------------

