doctype html
html(lang='en')
	head
		link(rel='shortcut icon', href='img/icons/favicon/favicon.ico', type='image/vnd.microsoft.icon')
		link(type='text/css', rel='stylesheet', href='css/main.css')
		meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
	body

		// scripts block
		//- link(type='text/css', rel='stylesheet', href='css/additional.css')
		script(src='js/main.js', type='text/javascript')
