doctype html
html(lang='en')
	head
		link(rel='shortcut icon', href='img/icons/favicon/favicon.ico', type='image/vnd.microsoft.icon')
		link(type='text/css', rel='stylesheet', href='css/main.css')
		meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
	body

		.page-header
			.container
				.header-femail
					.masthead
						a(href='/')
							img#logo-main.logo-main(alt='MailOnline - news, sport, celebrity, science and health stories', height='66', src='img/icons/logo_mol.gif', width='350')
				.nav-primary
					ul
						li.home
							span.link-gr6ox.linkro-ccox
								a.no-border(href='/home/index.html')  Home
						li.news
							span.link-gr6ox.linkro-ccox
								a(href='/news/index.html')  News
						li.home
							span.link-gr6ox.linkro-ccox
								a(href='/ushome/index.html')  U.S.
						li.sport
							span.link-gr6ox.linkro-ccox
								a(href='/sport/index.html')  Sport
						li.tvshowbiz
							span.link-gr6ox.linkro-ccox
								a(href='/tvshowbiz/index.html')  TV&Showbiz
						li.home
							span.link-gr6ox.linkro-ccox
								a(href='/auhome/index.html')  Australia
						li.femail
							span.tl  
							span.tr  
							span.link-wocc.linkro-wocc
								a(href='/femail/index.html') Femail
						li.health
							span.link-gr6ox.linkro-ccox
								a.no-border(href='/health/index.html')  Health
						li.sciencetech
							span.link-gr6ox.linkro-ccox
								a(href='/sciencetech/index.html')  Science
						li.money
							span.link-gr6ox.linkro-ccox
								a(href='/money/index.html')  Money
						li.video
							span.link-gr6ox.linkro-ccox
								a(href='/video/index.html')  Video
						li.travel
							span.link-gr6ox.linkro-ccox
								a(href='/travel/index.html')  Travel
						li.femail
							span.link-gr6ox.linkro-ccox
								a(href='/femail/fashionfinder/index.html')  Fashion Finder
				.nav-secondary
					ul.column-left
						li.first
							a(href='/home/latest/index.html#femail') Latest Headlines
						li
							a.current.bdrcc(href='/femail/index.html') Femail
						li
							a(href='/femail/fashionfinder/index.html') Fashion Finder
						li
							a(href='/femail/food/index.html') Food
						li
							a(href='/femail/chat/index.html') Femail Boards
						li
							a(href='/femail/beauty/index.html') Beauty
						li
							a(href='/home/gardening/index.html') Gardening
						li
							a(href='http://wowcher.mailonline.co.uk/', target='_blank') Deals
						li
							a(href='/femail/femailblogs/index.html') Blogs
						li
							a(href='http://blakesmalltalkblog.dailymail.co.uk/', target='_blank') Baby Blog
					ul#logout_comp.column-right(style='display: none;')
						li.first
							a(href='/registration/profile.html', rel='nofollow') My Profile
						li#logout.first
							a.js-logout(rel='nofollow', href='/registration/logout.html') Logout
					ul#login_comp.column-right
						li#login.first
							a.js-login(rel='nofollow', href='/registration/login.html?targetUrl= ', data-target='/registration/p/lightbox_login.html?targetUrl= .login-lightbox', data-modal-type='login-overlay', data-ajax-refresh-everytime='false', data-toggle='modal') Login

		.page-section
			.container.page-container
				.column-left
					.alpha
						#js-article-text.article-text.wide
							h1
								| 'I've gone from obese to athlete': Britain's Got Talent star loses four stone in FOUR MONTHS after he was branded 'the fat one' in his band
							ul.mol-bullets-with-font
								li
									font(style='font-size:1.4em;')
										strong Richard Hdfield has slimmed down from 18st 3lbs to 14st 6lbs since June 
								li
									font(style='font-size:1.4em;')
										strong Swapped greasy burgers for meal replacement shakes to lose weight 
								li
									font(style='font-size:1.4em;')
										strong Says quitting Collabro helped him achieve his weight loss goal
								li
									font(style='font-size:1.4em;')
										strong Richard is now looking forward to pursuing a solo career in jazz  
							p.author-section.byline-plain
								| By
								a.author(href='/home/search.html?s=&authornamef=Martha+Cliff+for+MailOnline', rel='nofollow') Martha Cliff for MailOnline
							p.byline-section
								span.article-timestamp.article-timestamp-published
									span.article-timestamp-label Published:
									|   13:29 GMT, 15 November 2016
								|  
								span.article-timestamp.article-timestamp-updated
									span.article-timestamp-label Updated:
									|   19:20 GMT, 15 November 2016
							p
							#articleIconLinksContainer
								ul
									li.share-facebook
									li.share-twitter
									li.share-pinterest
									li.share-gplus
										span.g-interactivepost(data-contenturl='http://www.dailymail.co.uk/femail/article-3938014/I-ve-gone-obese-athlete-Britain-s-Got-Talent-star-loses-four-stone-FOUR-MONTHS-branded-fat-one-band.html', data-contentdeeplinkid='/pages', data-clientid='746589970956-e10ciaf67a1id9ggu75ph3ds0sthn7j6.apps.googleusercontent.com', data-cookiepolicy='single_host_origin', data-prefilltext="'I've gone from obese to athlete': Britain's Got Talent star loses four stone in FOUR MONTHS after he was branded 'the fat one' in his band ", data-calltoactionlabel='VIEW', data-calltoactionurl='http://www.dailymail.co.uk/femail/article-3938014/I-ve-gone-obese-athlete-Britain-s-Got-Talent-star-loses-four-stone-FOUR-MONTHS-branded-fat-one-band.html')
											a
									li.share-email
										a(rel='nofollow', href="mailto:?subject=Read this: 'I've gone from obese to athlete': Britain's Got Talent star loses four stone in FOUR MONTHS after he was branded 'the fat one' in his band &body=%27I%27ve%20gone%20from%20obese%20to%20athlete%27%3A%20Britain%27s%20Got%20Talent%20star%20loses%20four%20stone%20in%20FOUR%20MONTHS%20after%20he%20was%20branded%20%27the%20fat%20one%27%20in%20his%20band%C2%A0%0A%0AFormer%20Collabro%20singer%2C%20Richard%20Hadfield%2C%20%2022%2C%20from%20Stratford%2C%20East%20London%20has%20revealed%20his%20incredible%20four%20stone%20weight%20loss%20in%20as%20many%20months%20slimming%20down%20from%2018st%203lbs%20to%2014st%206lbs.%0A%0Ahttp%3A%2F%2Fwww.dailymail.co.uk%2Ffemail%2Farticle-3938014%2FI-ve-gone-obese-athlete-Britain-s-Got-Talent-star-loses-four-stone-FOUR-MONTHS-branded-fat-one-band.html%3Fito%3Demail_share_article-top%0A%0A%0AMost%20Read%20Articles%3A%0A%0ASo%20good%20she%20bought%20it%20twice%21%20The%20Duchess%20of%20Cambridge%20dazzles%20in%20%C2%A3995%20black%20cocktail%20dress%20at%20ceremony%20for%20children%27s%20mental%20health%20charity%20%28and%20it%E2%80%99s%20the%20SAME%20one%20she%20wore%20in%20red%20on%20her%20Canada%20tour%29%C2%A0%0Ahttp%3A%2F%2Fwww.dailymail.co.uk%2Ffemail%2Farticle-3960736%2FKate-goes-Dippy-dinosaurs-Duchess-Cambridge-gives-right-royal-send-Natural-History-Museum-s-world-famous-Diplodocus-s-sent-national-tour.html%3Fito%3Demail_share_article-top_most-read-articles%0A%0A%E2%80%98I%20had%20to%20do%20that%20as%20a%20mum%21%E2%80%99%20The%20Duchess%20of%20Cambridge%20puts%20a%20comforting%20arm%20around%20mother%20who%20dissolved%20in%20tears%20as%20her%20son%2C%2013%2C%20told%20Kate%20of%20his%20struggle%20with%20autism%20at%20charity%20awards%20ceremony%C2%A0%0Ahttp%3A%2F%2Fwww.dailymail.co.uk%2Ffemail%2Farticle-3962346%2FDuchess-Cambridge-comforts-mother-Place2Be-charity-awards-London.html%3Fito%3Demail_share_article-top_most-read-articles%0A%0AMother%20is%20branded%20%27incestuous%27%20for%20posting%20graphic%20videos%20of%20herself%20breastfeeding%20her%20two%20young%20sons%20in%20tandem%C2%A0%0Ahttp%3A%2F%2Fwww.dailymail.co.uk%2Ffemail%2Farticle-3960188%2FMother-branded-incestuous-posting-graphic-videos-breastfeeding-two-young-sons-tandem.html%3Fito%3Demail_share_article-top_most-read-articles%0A%0A")
											span.wai e-mail
									li#shareLinkTop.share-icons
										a.js-sl.share-link(href='#socialLinks')
								.share-count
									b 78
									span shares
								a.comments-count.home(href='/femail/article-3938014/I-ve-gone-obese-athlete-Britain-s-Got-Talent-star-loses-four-stone-FOUR-MONTHS-branded-fat-one-band.html#comments')
									span
									p.count-number          364
									p.count-text
										| View 
										br
										|  comments
							p
							div(itemprop='articleBody')
								p.mol-para-with-font
									font(style='font-size: 1.2em')
										| A 
										a(style='font-weight: bold;', target='_blank', href='/tvshowbiz/britains_got_talent/index.html') Britain's Got Talent
										|  winner has revealed how he lost almost four stone in four months after being branded 'the fat one' in his band Collabro.
								p.mol-para-with-font
									font(style='font-size: 1.2em')
										| Richard Hadfield, 22, who has since left the band, slimmed down from 18st 3lbs to 14st 6lbs with a super-intense weight loss regime which he started in June.
								p.mol-para-with-font
									font(style='font-size: 1.2em')
										| Richard, from Stratford, East London, began his diet overhaul just days after he  quit the all-male singing group.
								p.mol-para-with-font
									font(style='font-size: 1.2em')
										span.mol-style-bold Scroll down for video 
								.artSplitter.mol-img-group
									.mol-img
										img#i-79dad03e3c015b27.blkBorder.img-share(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/15/19/3A65C56C00000578-3938014-Former_Collabro_singer_Richard_Hadfield_has_revealed_his_incredi-a-14_1479237607265.jpg', style='display: none', height='951', width='634', alt='Former Collabro singer Richard Hadfield has revealed his incredible four stone weight loss in as many months ')
										noscript
											img#i-79dad03e3c015b27.blkBorder.img-share(src='http://i.dailymail.co.uk/i/pix/2016/11/15/19/3A65C56C00000578-3938014-Former_Collabro_singer_Richard_Hadfield_has_revealed_his_incredi-a-14_1479237607265.jpg', height='951', width='634', alt='Former Collabro singer Richard Hadfield has revealed his incredible four stone weight loss in as many months ')
									p.imageCaption
										| Former Collabro singer Richard Hadfield has revealed his incredible four stone weight loss in as many months
								p.mol-para-with-font
									font(style='font-size:1.2em')
										| The singer fell out with the other band members and decided to forge a new career as a solo career which, he says, was beneficial in helping him reach his weight-loss goal.
								div
									#p-21.related-carousel.with-fb.femail.half(data-track-module='am-related_carousel^related_carousel', data-track-selector='.rotator-panels a:not([class*=external])', data-track-pos='static')
										.rotator.bdrcc
											.rotator-title
												h2 RELATED ARTICLES
												ul.rotator-pages.link-xocc
													li.rotator-prev
														a(href='#', data-page='prev') Previous
													li
														a(href='#', data-page='1') 1
													li
														a(href='#', data-page='2') 2
													li.rotator-next
														a(href='#', data-page='next') Next
											ul.rotator-panels.link-bogr1.linkro-ccox
												li
													a(href='/femail/article-3935212/MailOnline-discovers-body-type-men-like-best.html')
														img(src='http://i.dailymail.co.uk/i/pix/2016/11/15/16/3A6790D400000578-0-image-m-3_1479225761257.jpg', width='62', height='60')
														span Which body type do men REALLY prefer? We fit 10 volunteers...
													a(href='/femail/article-3937750/Woman-hits-trolls-branded-swamp-creature-revealed-problem-skin-Instagram-make-tutorials.html')
														img(src='http://i.dailymail.co.uk/i/pix/2016/11/15/12/3A6622E600000578-0-image-a-27_1479211437978.jpg', width='62', height='60')
														span Woman hits back at trolls who branded her a 'swamp creature'...
												li
													a(href='/femail/article-3937652/Size-26-mother-two-leaves-fat-shaming-partner-poses-naked-mirror-day-tells-beautiful.html')
														img(src='http://i.dailymail.co.uk/i/pix/2016/11/15/11/3A654C1F00000578-0-image-a-73_1479207813558.jpg', width='62', height='60')
														span Size 26 mother-of-two leaves her fat-shaming partner and now...
										.fb
											h2 Share this article
											.share
												span.wai Share
								p.mol-para-with-font
									font(style='font-size:1.2em')
										| He said: 'Being free from the band really sparked my weight loss. I had been unhappy for a long time and comfort ate to escape my misery.
								p.mol-para-with-font
									font(style='font-size:1.2em')
										| 'My weight sky rocketed up to 18st 3lbs and I was clinically obese with 30 per cent body fat. I started being known as the 'fat one' in the band. It really hit me hard.
								.artSplitter.mol-img-group
									.splitLeft
										.mol-img
											img#i-bd1b6b3dc8eaf2dc.blkBorder.img-share(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/15/19/3A65C74C00000578-3938014-Richard_began_his_weight_loss_journey_16_weeks_ago_after_quittin-a-16_1479237607270.jpg', style='display: none', height='590', width='306', alt="Richard began his weight loss journey 16 weeks ago after quitting the band who won Britain's Got Talent")
											noscript
												img#i-bd1b6b3dc8eaf2dc.blkBorder.img-share(src='http://i.dailymail.co.uk/i/pix/2016/11/15/19/3A65C74C00000578-3938014-Richard_began_his_weight_loss_journey_16_weeks_ago_after_quittin-a-16_1479237607270.jpg', height='590', width='306', alt="Richard began his weight loss journey 16 weeks ago after quitting the band who won Britain's Got Talent")
									.splitRight
										.mol-img
											img#i-4a7bc75a4fb9fbf6.blkBorder.img-share(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/15/19/3A65CDF000000578-3938014-Pictured_at_week_one_before_he_had_lost_any_weight-a-18_1479237607273.jpg', style='display: none', height='590', width='306', alt='Pictured at week one before he had lost any weight')
											noscript
												img#i-4a7bc75a4fb9fbf6.blkBorder.img-share(src='http://i.dailymail.co.uk/i/pix/2016/11/15/19/3A65CDF000000578-3938014-Pictured_at_week_one_before_he_had_lost_any_weight-a-18_1479237607273.jpg', height='590', width='306', alt='Pictured at week one before he had lost any weight')
									.clear
									p.imageCaption
										| Richard began his weight loss journey 16 weeks ago after quitting the band who won Britain's Got Talent. Pictured at week one
								.artSplitter.mol-img-group
									.mol-img
										img#i-59477de9c8778bbe.blkBorder.img-share(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/15/19/3A65C88700000578-3938014-Richard_has_slimmed_down_from_18st_3lbs_to_14st_6lbs_with_a_supe-a-17_1479237607272.jpg', style='display: none', height='951', width='634', alt='Richard has slimmed down from 18st 3lbs to 14st 6lbs with a super-intense weight loss regime')
										noscript
											img#i-59477de9c8778bbe.blkBorder.img-share(src='http://i.dailymail.co.uk/i/pix/2016/11/15/19/3A65C88700000578-3938014-Richard_has_slimmed_down_from_18st_3lbs_to_14st_6lbs_with_a_supe-a-17_1479237607272.jpg', height='951', width='634', alt='Richard has slimmed down from 18st 3lbs to 14st 6lbs with a super-intense weight loss regime')
									p.imageCaption
										| Richard has slimmed down from 18st 3lbs to 14st 6lbs with a super-intense weight loss regime
								p.mol-para-with-font
									font(style='font-size:1.2em')
										| 'I was embarrassed about my weight but I was in a really bad environment professionally and couldn't stop eating.'
								p.mol-para-with-font
									font(style='font-size:1.2em')
										| Richard was determined to turn his life around but knew that he needed some help rebooting his diet.
								p.mol-para-with-font
									font(style='font-size:1.2em')
										| His girlfriend Roxy Henley, 25, had friends who had lost weight using Forza Supplements' meal replacement drinks and recommended them to Richard.
								.artSplitter.mol-img-group
									.mol-img
										img#i-63f455abe12e54af.blkBorder.img-share(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/15/19/3A65CA7800000578-3938014-Richard_said_that_he_was_sick_of_being_known_as_the_fat_one_and_-a-19_1479237607282.jpg', style='display: none', height='951', width='634', alt="Richard said that he was sick of being known as the 'fat one' and swapped his diet of greasy burgers for meal replacement shakes")
										noscript
											img#i-63f455abe12e54af.blkBorder.img-share(src='http://i.dailymail.co.uk/i/pix/2016/11/15/19/3A65CA7800000578-3938014-Richard_said_that_he_was_sick_of_being_known_as_the_fat_one_and_-a-19_1479237607282.jpg', height='951', width='634', alt="Richard said that he was sick of being known as the 'fat one' and swapped his diet of greasy burgers for meal replacement shakes")
									p.imageCaption
										| Richard said that he was sick of being known as the 'fat one' and swapped his diet of greasy burgers for meal replacement shakes
								.moduleFull.mol-video
									a.namedLink(name='video')
									.item
										#v-6408094405198264024.vjs-video-container.vjs-fixed.vjs-span-two-col.femail
											video#test-video.video-js.vjs-default-skin(controls='', data-opts='{"linkBaseURL":"http://www.dailymail.co.uk/femail/article-3938014/I-ve-gone-obese-athlete-Britain-s-Got-Talent-star-loses-four-stone-FOUR-MONTHS-branded-fat-one-band.html#v-6408094405198264024","isMobile":false,"src":"http://video.dailymail.co.uk/video/mol/2016/11/15/6408094405198264024/1024x576_MP4_6408094405198264024.mp4","source":"PR","playerId":"default","title":"BGT winner Richard Hadfield reveals weight-loss journey","preload":"none","initialVideo":true,"thumbnail":"http://i.dailymail.co.uk/i/pix/2016/11/15/12/3A665F9000000578-0-image-a-1_1479212929958.jpg","poster":"http://i.dailymail.co.uk/i/pix/2016/11/15/12/3A665F9000000578-0-image-a-2_1479212931648.jpg","syndicationService":null,"plugins":{"related-videos":{"videos":"http://www.dailymail.co.uk/api/player/1358703/related-videos.json"},"tracking":{"channelShortName":"femail","sponsored":false,"referenceId":1358703,"trackingType":"embedded"},"ads-setup":{"videoAdServerUrl":"http://pubads.g.doubleclick.net/gampad/ads?sz=[size]&iu=%2F5765%2Fdm.video%2Fdm_video_femail&ciu_szs=&impl=s&gdfp_req=1&env=vp&output=xml_vast3&unviewed_position_start=1&url=[referrer_url]&correlator=[timestamp]","adsEnabled":true,"useIMASDK":false,"adsCancelTimeout":15000,"screen":{"width":636,"height":358}},"autoplay-next-video":{"videos":"http://www.dailymail.co.uk/api/player/1358703/related-videos.json","countdown_time":10},"flyout":{"viewportOffset":0.4,"switchBack":true},"social-share":{"embedUrl":"http://www.dailymail.co.uk/embed/video/1358703.html"},"sources":{"url":"http://www.dailymail.co.uk/api/player/1358703/video-sources.json"}},"videoId":"6408094405198264024","descr":"The singer who won Britain\'s Got Talent 2014\nreveals how a weight loss programme helped him shed over 3 stone","referenceId":1358703}', preload='none')
												source(src='http://video.dailymail.co.uk/video/mol/2016/11/15/6408094405198264024/1024x576_MP4_6408094405198264024.mp4', type='video/mp4')
								p.mol-para-with-font
									font(style='font-size:1.2em')
										| Richard decided to give them a try, replacing breakfast and lunch each day with a 204 calorie strawberry or chocolate shake - and soon the weight started to drop off.
								p.mol-para-with-font
									font(style='font-size:1.2em')
										| He then teamed up with the experts from the supplements brand to devise a new fitness regime and meal planner to help him get back in perfect shape.
								p.mol-para-with-font
									font(style='font-size:1.2em')
										| He lost 3st 11lbs  in just four months and now has the ripped torso he has always wanted.
								p.mol-para-with-font
									font(style='font-size:1.2em')
										| Richard joked: 'Roxy loves the new me obviously but she's not too happy about my chest being hard. She can't get comfy anymore!
								.artSplitter.mol-img-group
									.mol-img
										img#i-191efd6e5d5cea49.blkBorder.img-share(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/15/19/0D095AB100000514-3938014-Richard_pictured_left_with_Collabro_says_that_leaving_the_band_w-a-15_1479237607268.jpg', style='display: none', height='567', width='634', alt='Richard (pictured left with Collabro) says that leaving the band was beneficial towards his weight loss goal ')
										noscript
											img#i-191efd6e5d5cea49.blkBorder.img-share(src='http://i.dailymail.co.uk/i/pix/2016/11/15/19/0D095AB100000514-3938014-Richard_pictured_left_with_Collabro_says_that_leaving_the_band_w-a-15_1479237607268.jpg', height='567', width='634', alt='Richard (pictured left with Collabro) says that leaving the band was beneficial towards his weight loss goal ')
									p.imageCaption
										| Richard (pictured left with Collabro) says that leaving the band was beneficial towards his weight loss goal
								p.mol-para-with-font
									font(style='font-size:1.2em')
										| 'She's been so helpful in the whole process. Roxy would always be snatching sweets out of my grasp. One time she found my secret stash of chocolate - I never saw that again.'
								p.mol-para-with-font
									font(style='font-size:1.2em')
										| Richard, who lives with his girlfriend, had a brilliant first year after winning Britain's Got Talent with Collabro after impressing judge Simon Cowell with his singing.
								p.mol-para-with-font
									font(style='font-size:1.2em')
										| The band had a sell-out world tour and a hit album and they seemed set to emulate the success of Cowell's other male singing group Il Divo.
								.artSplitter.mol-img-group
									.splitLeft
										.mol-img
											img#i-6adcccfee87c07c0.blkBorder.img-share(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/15/19/3A65CD5000000578-3938014-Richard_said_that_he_stopped_with_the_self_pity_and_curbed_his_f-a-20_1479237607284.jpg', style='display: none', height='511', width='306', alt="Richard said that he stopped with 'the self-pity' and curbed his frustrations in the gym")
											noscript
												img#i-6adcccfee87c07c0.blkBorder.img-share(src='http://i.dailymail.co.uk/i/pix/2016/11/15/19/3A65CD5000000578-3938014-Richard_said_that_he_stopped_with_the_self_pity_and_curbed_his_f-a-20_1479237607284.jpg', height='511', width='306', alt="Richard said that he stopped with 'the self-pity' and curbed his frustrations in the gym")
									.splitRight
										.mol-img
											img#i-1f9172c9fe49f8e5.blkBorder.img-share(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/15/19/3A65C61200000578-3938014-Richard_shows_off_his_newly_toned_body-a-21_1479237607289.jpg', style='display: none', height='511', width='306', alt='Richard shows off his newly toned body')
											noscript
												img#i-1f9172c9fe49f8e5.blkBorder.img-share(src='http://i.dailymail.co.uk/i/pix/2016/11/15/19/3A65C61200000578-3938014-Richard_shows_off_his_newly_toned_body-a-21_1479237607289.jpg', height='511', width='306', alt='Richard shows off his newly toned body')
									.clear
									p.imageCaption
										| Richard said that he stopped with 'the self-pity' and curbed his frustrations in the gym
								.artSplitter.mol-img-group
									.mol-img
										img#i-2c7e3db29f3a670.blkBorder.img-share(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/15/19/3A65CAE000000578-3938014-The_singer_says_that_he_finally_has_the_toned_torso_he_was_alway-a-22_1479237607299.jpg', style='display: none', height='779', width='634', alt='The singer says that he finally has the toned torso he was always after after performing HIIT workouts ')
										noscript
											img#i-2c7e3db29f3a670.blkBorder.img-share(src='http://i.dailymail.co.uk/i/pix/2016/11/15/19/3A65CAE000000578-3938014-The_singer_says_that_he_finally_has_the_toned_torso_he_was_alway-a-22_1479237607299.jpg', height='779', width='634', alt='The singer says that he finally has the toned torso he was always after after performing HIIT workouts ')
									p.imageCaption
										| The singer says that he finally has the toned torso he was always after after performing HIIT workouts
								p.mol-para-with-font
									font(style='font-size:1.2em')
										| But the tensions within the five-strong group got so bad that Richard felt he had no option but to quit - and turn his life around.
								p.mol-para-with-font
									font(style='font-size:1.2em')
										| He said: 'I stopped the self pity and took my frustration out in the gym. I have gone from obese to athlete in four months and lost the weight of a small child.
								p.mol-para-with-font
									font(style='font-size:1.2em')
										| 'I would go to the gym to do weighted resistance work three times a week and then every other day I would do a 12 minute HIIT work-out.
								p.mol-para-with-font
									font(style='font-size:1.2em')
										| 'So many people think you need to run on the treadmill for hours on end but it's just not the case. HIIT  is a really easy way to get your cardio in and burn a crazy amount of calories!
								.artSplitter.mol-img-group
									.mol-img
										img#i-77df2538ba0e3462.blkBorder.img-share(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/15/19/3A65C6A700000578-3938014-Now_Richard_cannot_wait_to_get_started_on_his_solo_career_hoping-a-23_1479237607316.jpg', style='display: none', height='951', width='634', alt="Now Richard cannot wait to get started on his solo career - hoping the emulate the success America's big stars of swing")
										noscript
											img#i-77df2538ba0e3462.blkBorder.img-share(src='http://i.dailymail.co.uk/i/pix/2016/11/15/19/3A65C6A700000578-3938014-Now_Richard_cannot_wait_to_get_started_on_his_solo_career_hoping-a-23_1479237607316.jpg', height='951', width='634', alt="Now Richard cannot wait to get started on his solo career - hoping the emulate the success America's big stars of swing")
									p.imageCaption
										| Now Richard cannot wait to get started on his solo career - hoping the emulate the success America's big stars of swing
								p.mol-para-with-font
									font(style='font-size:1.2em')
										| 'I began a food diary and a key part of my weight loss regime was meal replacement drinks. I would swap breakfast and lunch for one of the shakes most days.
								p.mol-para-with-font
									font(style='font-size:1.2em')
										| 'I got all the nutrients I needed and it really accelerated my weight loss. Dieting is hard and using the right products can give you a daily pick-me-up and make life a lot easier, especially on really busy days.
								p.mol-para-with-font
									font(style='font-size:1.2em')
										| 'My body fat is now down to 12 per cent. I am continuing to use Shake It Slim but I am just swapping one meal a day instead of two now that I am at my ideal weight.
								p.mol-para-with-font
									font(style='font-size:1.2em') 'This will enable me to control my weight and make sure it won't yo-yo again.'
								p.mol-para-with-font
									font(style='font-size:1.2em')
										| Now Richard cannot wait to get started on his solo career - hoping the emulate the success America's big stars of swing.
								p.mol-para-with-font
									font(style='font-size:1.2em')
										| He said: 'It's about time we had another Brit on the jazz scene. I think I can bring something new to the table.'
								p.mol-para-with-font
									font(style='font-size:1.2em')
										| He currently writing his first solo album and is performing his first solo show at the Piano Works bar in Farringdon, London, on December 11.
								#mol-826c5b80-ab33-11e6-9f88-c14f240d619d.art-ins.mol-factbox.floatLHS.femail
									h3.wocc
										span(style='font-weight: bold;') RICHARD'S DIET BEFORE  
									.ins.cleared.xolcc.bdrcc
										p.mol-para-with-font
											font(style='font-size:1.2em;')
												span.mol-style-bold Breakfast - 
												| buttered toast and high sugar cereal such as Crunchy Nut Cornflakes
										p.mol-para-with-font
											font(style='font-size:1.2em')
												span.mol-style-bold Lunch -
												|  Burger King bacon double cheeseburger with chips and coke
										p.mol-para-with-font
											font(style='font-size:1.2em')
												span.mol-style-bold Dinner - 
												| extra large pizza
										p.mol-para-with-font
											font(style='font-size:1.2em')
												span.mol-style-bold Snacks - 
												| Haribos
								#mol-826e7e60-ab33-11e6-9f88-c14f240d619d.art-ins.mol-factbox.floatLHS.femail
									h3.wocc
										span(style='font-weight: bold;') RICHARD'S DIET NOW  
									.ins.cleared.xolcc.bdrcc
										p.mol-para-with-font
											font(style='font-size:1.2em;')
												span.mol-style-bold Breakfast - 
												| poached eggs
										p.mol-para-with-font
											font(style='font-size:1.2em')
												span.mol-style-bold Lunch -
												|  grilled chicken, sweet potato and runner beans or a strawberry Shake It Slim meal replacement from Forza Supplements
										p.mol-para-with-font
											font(style='font-size:1.2em')
												span.mol-style-bold Dinner - 
												| grilled haddock and broccoli
										p.mol-para-with-font
											font(style='font-size:1.2em')
												span.mol-style-bold Snacks - 
												| fresh almonds
								p.mol-para-with-font
									font(style='font-size:1.2em')  
								p.mol-para-with-font
									font(style='font-size:1.2em')
								p.mol-para-with-font
									font(style='font-size: 1.2em')  
							#inread-player.adHolder.item
							.column-content.cleared
								.shareArticles
									h3.social-links-title Share or comment on this article
									#socialLinks.social-links.cleared
										ul.bigLinks.sc-icns.cleared
											li.facebook
												a.js-tl(rel='nofollow')
											li.twitter
												a.js-tl(rel='nofollow')
											li.pinterest
												a.js-tl(rel='nofollow')
											li.googleplus
												span.g-interactivepost(data-contenturl='http://www.dailymail.co.uk/femail/article-3938014/I-ve-gone-obese-athlete-Britain-s-Got-Talent-star-loses-four-stone-FOUR-MONTHS-branded-fat-one-band.html', data-contentdeeplinkid='/pages', data-clientid='746589970956-e10ciaf67a1id9ggu75ph3ds0sthn7j6.apps.googleusercontent.com', data-cookiepolicy='single_host_origin', data-prefilltext="'I've gone from obese to athlete': Britain's Got Talent star loses four stone in FOUR MONTHS after he was branded 'the fat one' in his band ", data-calltoactionlabel='VIEW', data-calltoactionurl='http://www.dailymail.co.uk/femail/article-3938014/I-ve-gone-obese-athlete-Britain-s-Got-Talent-star-loses-four-stone-FOUR-MONTHS-branded-fat-one-band.html')
													a.js-tl(rel='nofollow')
											li.email
												a(rel='nofollow', href="mailto:?subject=Read this: 'I've gone from obese to athlete': Britain's Got Talent star loses four stone in FOUR MONTHS after he was branded 'the fat one' in his band &body=%27I%27ve%20gone%20from%20obese%20to%20athlete%27%3A%20Britain%27s%20Got%20Talent%20star%20loses%20four%20stone%20in%20FOUR%20MONTHS%20after%20he%20was%20branded%20%27the%20fat%20one%27%20in%20his%20band%C2%A0%0A%0AFormer%20Collabro%20singer%2C%20Richard%20Hadfield%2C%20%2022%2C%20from%20Stratford%2C%20East%20London%20has%20revealed%20his%20incredible%20four%20stone%20weight%20loss%20in%20as%20many%20months%20slimming%20down%20from%2018st%203lbs%20to%2014st%206lbs.%0A%0Ahttp%3A%2F%2Fwww.dailymail.co.uk%2Ffemail%2Farticle-3938014%2FI-ve-gone-obese-athlete-Britain-s-Got-Talent-star-loses-four-stone-FOUR-MONTHS-branded-fat-one-band.html%3Fito%3Demail_share_article-bottom%0A%0A%0AMost%20Read%20Articles%3A%0A%0ASo%20good%20she%20bought%20it%20twice%21%20The%20Duchess%20of%20Cambridge%20dazzles%20in%20%C2%A3995%20black%20cocktail%20dress%20at%20ceremony%20for%20children%27s%20mental%20health%20charity%20%28and%20it%E2%80%99s%20the%20SAME%20one%20she%20wore%20in%20red%20on%20her%20Canada%20tour%29%C2%A0%0Ahttp%3A%2F%2Fwww.dailymail.co.uk%2Ffemail%2Farticle-3960736%2FKate-goes-Dippy-dinosaurs-Duchess-Cambridge-gives-right-royal-send-Natural-History-Museum-s-world-famous-Diplodocus-s-sent-national-tour.html%3Fito%3Demail_share_article-bottom_most-read-articles%0A%0A%E2%80%98I%20had%20to%20do%20that%20as%20a%20mum%21%E2%80%99%20The%20Duchess%20of%20Cambridge%20puts%20a%20comforting%20arm%20around%20mother%20who%20dissolved%20in%20tears%20as%20her%20son%2C%2013%2C%20told%20Kate%20of%20his%20struggle%20with%20autism%20at%20charity%20awards%20ceremony%C2%A0%0Ahttp%3A%2F%2Fwww.dailymail.co.uk%2Ffemail%2Farticle-3962346%2FDuchess-Cambridge-comforts-mother-Place2Be-charity-awards-London.html%3Fito%3Demail_share_article-bottom_most-read-articles%0A%0AMother%20is%20branded%20%27incestuous%27%20for%20posting%20graphic%20videos%20of%20herself%20breastfeeding%20her%20two%20young%20sons%20in%20tandem%C2%A0%0Ahttp%3A%2F%2Fwww.dailymail.co.uk%2Ffemail%2Farticle-3960188%2FMother-branded-incestuous-posting-graphic-videos-breastfeeding-two-young-sons-tandem.html%3Fito%3Demail_share_article-bottom_most-read-articles%0A%0A")
													span.wai e-mail
											li#shareLinkBottom.share
												a.js-sl.share-link(href='#socialLinks')
											li#shareCountBottom.social-stats.social-stats-pipe
												div
													.shares_count 78
													.shares_text shares
							// NOTE: WARNING: render-partial is a function
							#taboola-below-main-column
							link(rel='stylesheet', href='http://i.dailymail.co.uk/static/mol-fe/static/mol-fe-most-watched-videos/1.6.0/styles/main-internal.css')
							#most-watched-videos-wrapper.item(data-swipe-article='false', data-track-module='am-most_watched_videos_062016^most_watched_videos', data-track-selector='.videoLink', data-track-type='cl', data-track-pos='static')
								#most-watched-videos.news(data-mol-fe-rotator='', data-embed='true', data-host='http://www.dailymail.co.uk', data-endpoint='/api/most-watched-videos', data-channel='news')
									h2.mol-fe-rotator-header.channel-header
										span.mol-fe-rotator-header-body
											span.title
												span Most watched
												span News videos
									.mol-fe-rotator-body.cleared
										ul.items-holder.cleared
											li.mol-fe-rotator-item
												a.channel-link.videoLink(href='/news/article-3961320/Bizarre-video-emerges-chef-beheading-live-octopus-guests-dissecting-moving-limbs.html?mwv_rm=rta', data-channel='news', data-source='Newsflare', data-modal-type='video-lightbox', data-freewheelid='', data-videoid='719600224738692928', data-recommendation-model='rta', data-target='/api/video-carousel.html?video-id=1362993&colour=news&channel=news&trackingType=am_most_watched_videos_062016 .video-lightbox-videojs')
													span.thumb(style='background-image: url(http://i.dailymail.co.uk/i/pix/2016/11/22/14/3AA7AF3100000578-0-image-a-29_1479825776843.jpg)')
													span.colours-target.description-wrapper
														span.description Gruesome moment Korean chef dissects a LIVE octopus
													span.colours-target.description-mask
											li.mol-fe-rotator-item
												a.channel-link.videoLink(href='/news/article-3935566/Man-accused-raping-killing-4-year-old-girl-murdered-mob-storm-police-station-held-drag-hang-tree.html?mwv_rm=rta', data-channel='news', data-source='CEN', data-modal-type='video-lightbox', data-freewheelid='', data-videoid='8028411000307562316', data-recommendation-model='rta', data-target='/api/video-carousel.html?video-id=1358231&colour=news&channel=news&trackingType=am_most_watched_videos_062016 .video-lightbox-videojs')
													span.thumb(style='background-image: url(http://i.dailymail.co.uk/i/pix/2016/11/14/19/3A60027300000578-0-image-a-3_1479150341351.jpg)')
													span.colours-target.description-wrapper
														span.description Mob storm police station and lynch suspected paedophile
													span.colours-target.description-mask
											li.mol-fe-rotator-item
												a.channel-link.videoLink(href='/news/article-3958936/Videos-reveal-panic-earthquake-Japan-amid-fears-huge-tsunamis.html?mwv_rm=rta', data-channel='news', data-source='Twitter', data-modal-type='video-lightbox', data-freewheelid='', data-videoid='608340858042170168', data-recommendation-model='rta', data-target='/api/video-carousel.html?video-id=1362777&colour=news&channel=news&trackingType=am_most_watched_videos_062016 .video-lightbox-videojs')
													span.thumb(style='background-image: url(http://i.dailymail.co.uk/i/pix/2016/11/22/08/3AA5C9BE00000578-0-image-a-3_1479803650214.jpg)')
													span.colours-target.description-wrapper
														span.description Teen films a burning 'meteorite' moving across sky in Japan
													span.colours-target.description-mask
							.column-content.cleared
								#wideCommentAdvert.googleAds
									ins#8.adsbygoogle(style='display:inline-block;width:636px;height:250px', data-ad-client='ca-pub-6274168003790870', data-ad-slot='1219268175', data-safe='high')
							#most-read-news-wrapper.item(data-track-module='am-most_read_news^most_read_news', data-track-selector='.rotator-panels a', data-track-pos='static')
								#most-read-news.new.shallow-ac.mini
									.rotator.news
										ul.rotator-panels
											li.new.shallow-ac.mini.link-bogr6.linkro-wocc
												a(href='/news/article-3958402/Mystery-English-speaking-girl-living-streets-Rome-Internet-campaigners-try-identify-young-homeless-woman-Maria-amid-speculation-Madeleine-McCann.html')
													img(src='http://i.dailymail.co.uk/i/pix/2016/11/22/16/3AA81FB900000578-0-image-m-24_1479830789111.jpg', alt='', width='154', height='115')
													span.wocc.bdrcc EXCLUSIVE: 'That's my girl!' Swedish father reveals the...
											li.new.shallow-ac.mini.link-bogr6.linkro-wocc
												a(href='/news/article-3962000/So-fault-Angry-cyclist-posts-video-collision-slams-car-bike-lane-motorist-drives-leaving-writhing-agony.html')
													img(src='http://i.dailymail.co.uk/i/pix/2016/11/22/19/3AA8E70F00000578-0-image-m-36_1479843467918.jpg', alt='', width='154', height='115')
													span.wocc.bdrcc So whose fault is it? Angry cyclist posts video of...
											li.new.shallow-ac.mini.link-bogr6.linkro-wocc
												a(href='/news/article-3962906/Help-tenants-agent-fees-banned-Chancellor-plans-increase-living-wage-help-families-just-managing.html')
													img(src='http://i.dailymail.co.uk/i/pix/2016/11/23/11/3AAF219500000578-0-image-a-7_1479899922911.jpg', alt='', width='154', height='115')
													span.wocc.bdrcc 'We're writing a new chapter for Britain!' Chancellor...
										.rotator-title.wocc
											h2 MOST READ NEWS
											.rotator-pages
												.rotator-prev
													i.bg
													i.ico
													a(href='#', data-page='prev') Previous
												.rotator-next
													i.bg
													i.ico
													a(href='#', data-page='next') Next
												ul
													li.linkro-wocc
														a(href='#', data-page='1') ●
													li.linkro-wocc
														a(href='#', data-page='2') ●
													li.linkro-wocc
														a(href='#', data-page='3') ●
							#reader-comments.article-reader-comments.article-id-3938014
								a(name='comments')
								.rc-content
									.rc-header.link-ccow
										a#addYourCommentButton(href='#newcomment', rel='nofollow')
											img(src='http://f.dailymail.co.uk/i/furniture/comments/articles/btn_add-your-comment.png')
										.title-cont
											img(src='http://f.dailymail.co.uk/i/furniture/comments/articles/icon_comments_74.png')
											div
												h3
													| Comments (
													span.readerCommentsCount 364
													| )
												p
													| Share what you think
									ul#rc-tabs.js-links.dm-tabs.cnr5.cleared
										li.dm-tab.dm-tab-on.bdrgr5.cnr-bdr.wogr5.link-wox.js-active
											span.xogr5.tl
											span.xogr5.tr
											a(href='#') Newest
										li.dm-tab.bdrgr5.ow-igr2-bx.cnr-bdr.xogr2.link-gr5ox
											span.xogr5.tl
											span.xogr5.tr
											a(href='#') Oldest
										li.dm-tab.bdrgr5.ow-igr2-bx.cnr-bdr.xogr2.link-gr5ox
											span.xogr5.tl
											span.xogr5.tr
											a(href='#') Best rated
										li.dm-tab.bdrgr5.ow-igr2-bx.cnr-bdr.xogr2.link-gr5ox.last
											span.xogr5.tl
											span.xogr5.tr
											a(href='#') Worst rated
									.view-more-container.xogr5.cleared
										a#js-view-all-link.btn-grey.bdrgr4.gr5ox.float-r.js-view-all-link(rel='nofollow')
											span.comment-link-icon  
											span.comment-link-text View all
									.pagination-container.cleared
									.rc-title
										p The comments below have not been moderated.
									#js-comments.comments-list
									.pagination-container.pagination-container-bottom.cleared
									.view-more-container.view-more-container-bottom.xogr5.cleared
										a#js-view-all-link.btn-grey.bdrgr4.gr5ox.float-r.js-view-all-link(rel='nofollow')
											span.comment-link-icon  
											span.comment-link-text View all
									p.bold.pad5.wogr5.rc-info
										| The views expressed in the contents above are those of our users and do not necessarily reflect the views of MailOnline.
								a(href='#comments')
								p.rc-title.bdrgr2 We are no longer accepting comments on this article.
								.topcommenter
									img.arrows(src='http://f.dailymail.co.uk/i/furniture/comments/articles/topcommenter.png')
									span.text Who is this week's top commenter?
									a.btn.link(href='/stats') Find out now
								#copyLinkLightboxArrow
								#copyLinkLightbox
						#infinite-list.item.news(data-track-module='am-infinite_list^infinite_list', data-track-selector='h3 a', data-track-pos='static')
							h2.wocc More top stories
							a.more

				// RIGHT COL
				.column-right
					.beta
						.item.beta_search_wrapper
							a(name='search')
							form#p-1003-bing(name='searchForm', action='/home/search.html', method='get')
								.bing.cnr5
									fieldset.cleared
										legend.usability Bing
										.bow.cleared
											span.ctnr-l
												span.nowrap
													input#p-1003-bing-site.ie-radio(name='sel', value='site', type='radio', checked='checked')
													label(for='p-1003-bing-site') Site
												span.nowrap
													input#p-1003-bing-web.ie-radio(name='sel', value='web', type='radio')
													label(for='p-1003-bing-web') Web
											span.ctnr-r
												label.usability(for='p-1003-searchPhrase') Enter search term:
												input#p-1003-searchPhrase.text-input(name='searchPhrase', type='text', placeholder='Enter your search')
												button(type='submit')
													span.usability Search
										span.bing-logo
									span.tl
									span.tr
									span.bl
									span.br
						.item.mpu_zero_height_wrapper
							#p-1004.mpu-zero.adHolder.molads_mpu_top
						.home.item.html_snippet_module
							ul.dms-puff
								li.facebook
									a(alt='Facebook')
										b Like
										span DailyMail
								li.twitter
									a(alt='Twitter')
										b Follow
										span MailOnline
								li.pinterest
									a(alt='Pinterest')
										b Follow
										span DailyMail
								li.gplus
									a(alt='GooglePlus One')
										b +1
										span DailyMail
						.item.mpu_zero_height_wrapper
							#p-1006.mpu-zero.adHolder.molads_half_mpu_top
						.femail.item
							#p-1007.puff.cleared(data-track-module='llg-1000113^puff')
								span.tl  
								span.tr  
								h3.wocc DON'T MISS
								ul.link-bogr2.linkro-wocc
									li
										a(href='/tvshowbiz/article-3964510/Catherine-Zeta-Jones-47-sizzles-plunging-swimsuit-husband-Michael-Douglas-72-pair-problems-Mexican-holiday.html')
											img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/23/13/3AAFDE2100000578-0-image-m-194_1479908002395.jpg', style='display: none', height='115', width='154', alt='')
											noscript
												img(src='http://i.dailymail.co.uk/i/pix/2016/11/23/13/3AAFDE2100000578-0-image-m-194_1479908002395.jpg', height='115', width='154', alt='')
											span.pufftext
												span.arrow-small-r
												strong
													| Catherine Zeta-Jones, 47, sizzles in VERY plunging swimsuit with husband Michael Douglas, 72, as the pair put problems behind them for Mexican break
									li
										a(href='/tvshowbiz/article-3964844/Any-exercise-better-no-exercise-MIC-s-Louise-Thompson-gets-close-personal-trainer-boyfriend-Ryan-Libbey-bizarre-workout-video.html')
											img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/23/15/3AB0A91E00000578-0-image-a-73_1479913406086.jpg', style='display: none', height='115', width='154', alt='')
											noscript
												img(src='http://i.dailymail.co.uk/i/pix/2016/11/23/15/3AB0A91E00000578-0-image-a-73_1479913406086.jpg', height='115', width='154', alt='')
											span.pufftext
												span.arrow-small-r
												strong
													| 'Any exercise is better than no exercise': MIC's Louise Thompson gets up close and personal with trainer boyfriend Ryan Libbey in bizarre workout video
									li
										a(href='/tvshowbiz/article-3964368/Braless-Marnie-Simpson-seen-time-epic-meltdown.html')
											img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/23/12/linkListItem-0-3AAF9A9A00000578-5_154x115.jpg', style='display: none', height='115', width='154', alt="23 Nov 2016  - Newcastle  - UK\
											*EXCLUSIVE ALL ROUND PICTURES*\
											Elettra Lamborghini - Marnie Simpson - Sophie Kasaei\
											Geordie Shore out filming series 14 in Newcastle and Marnie and Zahida go knickerless! Theres yet another new girl which is one of Kyle Christies ex girlfriends called Chelsea Barber, she's from Newcastle and is friends with most of the original cast.\
											Martin McKenna tashes on with Italian babe Elettra Lamborghini as they leave the club and shares a taxi with her back to the house. The guys were partying at House of Smith until the early hours. \
											Byline Must Read: XPOSUREPHOTOS.COM\
											** UK clients please pixelate children's faces prior to publication**\
											For content licensing please contact:\
											Xposure Photos\
											pictures@xposurephotos.com\
											44 (0) 208 344 2007")
											noscript
												img(src='http://i.dailymail.co.uk/i/pix/2016/11/23/12/linkListItem-0-3AAF9A9A00000578-5_154x115.jpg', height='115', width='154', alt="23 Nov 2016  - Newcastle  - UK\
												*EXCLUSIVE ALL ROUND PICTURES*\
												Elettra Lamborghini - Marnie Simpson - Sophie Kasaei\
												Geordie Shore out filming series 14 in Newcastle and Marnie and Zahida go knickerless! Theres yet another new girl which is one of Kyle Christies ex girlfriends called Chelsea Barber, she's from Newcastle and is friends with most of the original cast.\
												Martin McKenna tashes on with Italian babe Elettra Lamborghini as they leave the club and shares a taxi with her back to the house. The guys were partying at House of Smith until the early hours. \
												Byline Must Read: XPOSUREPHOTOS.COM\
												** UK clients please pixelate children's faces prior to publication**\
												For content licensing please contact:\
												Xposure Photos\
												pictures@xposurephotos.com\
												44 (0) 208 344 2007")
											span.pufftext
												span.arrow-small-r
												strong
													| Braless Marnie Simpson is seen out for the first time since EPIC meltdown... as she parties with Geordie Shore's Sophie Kasaei in very sexy mini dress
									li
										a(href='/tvshowbiz/article-3964050/Brooklyn-Beckham-dismayed-finds-parking-ticket-slapped-posh-Mercedes.html')
											img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/23/10/3AAEBCBE00000578-0-image-m-44_1479897243478.jpg', style='display: none', height='115', width='154', alt='')
											noscript
												img(src='http://i.dailymail.co.uk/i/pix/2016/11/23/10/3AAEBCBE00000578-0-image-m-44_1479897243478.jpg', height='115', width='154', alt='')
											span.pufftext
												span.arrow-small-r
												strong
													| Uh-oh! Brooklyn Beckham, 17, can't hide his dismay as he finds a parking ticket slapped on his flashy Mercedes
												|           He'll have no problem paying
									li.mpu_puff_wrapper
										#mpu_puff_30.puff-ad
									li
										a(href='/femail/article-3963862/Hollyoaks-actress-Davinia-Taylor-s-private-art-collection-goes-auction.html')
											img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/23/11/3AAF242B00000578-0-image-a-31_1479900022573.jpg', style='display: none', height='115', width='154', alt='')
											noscript
												img(src='http://i.dailymail.co.uk/i/pix/2016/11/23/11/3AAF242B00000578-0-image-a-31_1479900022573.jpg', height='115', width='154', alt='')
											span.pufftext
												span.arrow-small-r
												strong
													| Davinia Taylor auctions contents of her lavish Grade II listed Tudor home - and the incredible private collection includes works by Banksy
									li
										a(href='/tvshowbiz/article-3963800/Hey-baby-legs-way-Chrissy-Teigen-laughs-epic-AMAs-wardrobe-malfunction-hilarious-Family-Guy-meme.html')
											img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/23/10/3AAE0FB300000578-0-image-m-1_1479895801721.jpg', style='display: none', height='115', width='154', alt='')
											noscript
												img(src='http://i.dailymail.co.uk/i/pix/2016/11/23/10/3AAE0FB300000578-0-image-m-1_1479895801721.jpg', height='115', width='154', alt='')
											span.pufftext
												span.arrow-small-r
												strong
													| 'Hey baby, do those legs go all the way up?' Chrissy Teigen laughs off her epic AMAs wardrobe malfunction with hilarious Family Guy meme
									li
										a(href='/tvshowbiz/article-3962770/Ellen-DeGeneres-comforted-Robert-Niro-cries-receiving-Presidential-Medal-Freedom-star-studded-White-House-ceremony.html')
											img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/22/23/3AAB426000000578-0-image-m-10_1479858414780.jpg', style='display: none', height='115', width='154', alt='')
											noscript
												img(src='http://i.dailymail.co.uk/i/pix/2016/11/22/23/3AAB426000000578-0-image-m-10_1479858414780.jpg', height='115', width='154', alt='')
											span.pufftext
												span.arrow-small-r
												strong
													| Ellen DeGeneres comforted by Robert De Niro as she cries after receiving Presidential Medal Of Freedom at star-studded White House ceremony
									li.mpu_puff_wrapper
										#mpu_puff_45.puff-ad
									li
										a(href='/news/article-3963752/Phil-Collins-ex-wife-buys-house-door-4million-asking-price-worried-torn-replaced-mega-mansion.html')
											img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/23/09/3AAD7BDC00000578-0-image-a-7_1479893939271.jpg', style='display: none', height='115', width='154', alt='')
											noscript
												img(src='http://i.dailymail.co.uk/i/pix/2016/11/23/09/3AAD7BDC00000578-0-image-a-7_1479893939271.jpg', height='115', width='154', alt='')
											span.pufftext
												span.arrow-small-r
												strong
													| Phil Collins' ex buys the house next door to her for $4m MORE than asking price because she was worried it would be torn down and replaced by a mansion
									li
										a(href='/tvshowbiz/article-3961724/Gisele-Bundchen-says-ask-help-cooking-Thanksgiving-meal.html')
											img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/22/20/3AA887C800000578-0-image-m-83_1479845062944.jpg', style='display: none', height='115', width='154', alt='')
											noscript
												img(src='http://i.dailymail.co.uk/i/pix/2016/11/22/20/3AA887C800000578-0-image-m-83_1479845062944.jpg', height='115', width='154', alt='')
											span.pufftext
												span.arrow-small-r
												strong
													| 'I help make nice salads but I have no idea how to make a turkey!': Gisele Bundchen says she will ask for help when cooking Thanksgiving meal
									li
										a(href='/tvshowbiz/article-3961754/Kate-Moss-flashes-smile-steps-leopard-print-fur-coat.html')
											img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/22/18/3AA8A33400000578-0-image-m-30_1479838868440.jpg', style='display: none', height='115', width='154', alt='')
											noscript
												img(src='http://i.dailymail.co.uk/i/pix/2016/11/22/18/3AA8A33400000578-0-image-m-30_1479838868440.jpg', height='115', width='154', alt='')
											span.pufftext
												span.arrow-small-r
												strong
													| Kate Moss flashes a coy smile as she steps out in leopard print fur coat and skinny jeans for casual shopping spree
												|           Wild side
									li
										a(href='/news/article-3961348/PIERS-MORGAN-fame-addict-like-Kanye-started-mainlining-Kardashians-matter-time-overdosed.html')
											img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/22/16/3AA8350800000578-0-image-a-13_1479831194354.jpg', style='display: none', height='115', width='154', alt='')
											noscript
												img(src='http://i.dailymail.co.uk/i/pix/2016/11/22/16/3AA8350800000578-0-image-a-13_1479831194354.jpg', height='115', width='154', alt='')
											span.pufftext
												span.arrow-small-r
												strong
													| PIERS MORGAN: Once a fame-addict like Kanye started mainlining with the Kardashians it was only a matter of time before he overdosed
									li
										a.bottom(href='/tvshowbiz/article-3961688/Carrie-Bradshaw-impressed-Sarah-Jessica-Parker-steps-fashion-savvy-outfit-strolls-West-Village.html')
											img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/22/17/3AA872E200000578-0-image-m-26_1479835694320.jpg', style='display: none', height='115', width='154', alt='')
											noscript
												img(src='http://i.dailymail.co.uk/i/pix/2016/11/22/17/3AA872E200000578-0-image-m-26_1479835694320.jpg', height='115', width='154', alt='')
											span.pufftext
												span.arrow-small-r
												strong
													| Carrie Bradshaw would be impressed! Sarah Jessica Parker steps out in a fashion savvy outfit as she strolls around the West Village

						.home.item.html_snippet_module
							a(href='http://tidd.ly/4d3df263', target='_blank', rel='nofollow')
								img(src='http://i.dailymail.co.uk/i/pix/2015/07/06/260515_Boohoo_MailOnline_Banner_308x100px_V2.jpg ', alt='Boohoo', title='', width='308', height='100')
						.item.mpu_wrapper
							#p-1013.mpu.adHolder.molads_mpu_middle
						.home.item.button_style_module
							.button-style
								a(href='http://itunes.apple.com/app/mailonline/id400442503?mt=8&ign-mpt=uo%3D4')
									img(src='http://i.dailymail.co.uk/i/pix//promoboxes/btn_ipadapp_5_308x111.png', alt='MailOnline iPad app', title='', width='308', height='111')
						.tvshowbiz.item
							#p-1015.puff.cleared(data-track-module='llg-1000114^puff')
								span.tl  
								span.tr  
								h3.wocc MORE DON'T MISS
								ul.link-bogr2.linkro-wocc
									li
										a(href='/tvshowbiz/article-3960806/Kim-Kardashian-likes-friend-s-Instagram-post-alive-reason-not-giving-husband-Kanye-West-hospitalised-psychotic-breakdown.html')
											img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/22/14/3AA784A500000578-0-image-a-4_1479824058113.jpg', style='display: none', height='115', width='154', alt='')
											noscript
												img(src='http://i.dailymail.co.uk/i/pix/2016/11/22/14/3AA784A500000578-0-image-a-4_1479824058113.jpg', height='115', width='154', alt='')
											span.pufftext
												span.arrow-small-r
												strong
													| Kim 'likes' friend's Instagram post about being 'alive for a reason' and 'not giving up'... as her husband Kanye West is hospitalised with 'psychotic breakdown'
									li
										a(href='/tvshowbiz/article-3961956/Millie-Bobby-Brown-12-dishes-sudden-rise-fame-Netflix-s-Stranger-Things.html')
											img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/22/19/3AA9C8A500000578-0-image-m-37_1479844667740.jpg', style='display: none', height='115', width='154', alt='')
											noscript
												img(src='http://i.dailymail.co.uk/i/pix/2016/11/22/19/3AA9C8A500000578-0-image-m-37_1479844667740.jpg', height='115', width='154', alt='')
											span.pufftext
												span.arrow-small-r
												strong
													| 'I went from 25 to 1.4 million followers - pretty cool!' Millie Bobby Brown, 12, dishes on her sudden rise to fame in Netflix's Stranger Things

									li
										a(href='/tvshowbiz/article-3959284/Beyonce-models-new-Ivy-Park-athletic-wear-line-series-photos-website.html')
											img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/22/04/3AA3F5A200000578-0-image-m-14_1479787272947.jpg', style='display: none', height='115', width='154', alt='')
											noscript
												img(src='http://i.dailymail.co.uk/i/pix/2016/11/22/04/3AA3F5A200000578-0-image-m-14_1479787272947.jpg', height='115', width='154', alt='')
											span.pufftext
												span.arrow-small-r
												strong
													| She's her own best advert! Beyonce models her new Ivy Park athletic wear in racy shoot for her website
												|           New line of sportswear from the superstar
									li
										a(href='/tvshowbiz/article-3959060/Emma-Stone-says-acting-helped-overcome-anxiety-joins-Hollywood-Reporter-s-Actress-Roundtable.html')
											img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/22/01/3AA35E4700000578-0-image-m-60_1479778160801.jpg', style='display: none', height='115', width='154', alt='')
											noscript
												img(src='http://i.dailymail.co.uk/i/pix/2016/11/22/01/3AA35E4700000578-0-image-m-60_1479778160801.jpg', height='115', width='154', alt='')
											span.pufftext
												span.arrow-small-r
												strong
													| 'It saved me as a kid': Emma Stone says acting helped her overcome anxiety as she joins The Hollywood Reporter's Actress Roundtable
									li
										a(href='/tvshowbiz/article-3959256/Michael-Jackson-s-son-Prince-19-promotes-charity-Heal-LA-Los-Angeles.html')
											img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/22/01/3AA32DFC00000578-0-image-a-35_1479778950464.jpg', style='display: none', height='115', width='154', alt='')
											noscript
												img(src='http://i.dailymail.co.uk/i/pix/2016/11/22/01/3AA32DFC00000578-0-image-a-35_1479778950464.jpg', height='115', width='154', alt='')
											span.pufftext
												span.arrow-small-r
												strong
													| Michael Jackson's son Prince, 19, promotes his charity Heal LA in Los Angeles
												|           Spread awareness about his charity, Heal Los Angeles
									li
										a(href='/tvshowbiz/article-3958958/Can-t-wait-arms-round-Lewis-Bloor-comforts-girlfriend-Marnie-Simpson-row-Geordie-Shore-producers-hints-living-exes-caused-meltdown.html')
											img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/21/23/3AA2F70F00000578-0-image-a-200_1479771023671.jpg', style='display: none', height='115', width='154', alt='')
											noscript
												img(src='http://i.dailymail.co.uk/i/pix/2016/11/21/23/3AA2F70F00000578-0-image-a-200_1479771023671.jpg', height='115', width='154', alt='')
											span.pufftext
												span.arrow-small-r
												strong
													| 'Can't wait to get my arms round her': Lewis Bloor sends words of comfort to Marnie after her row with producers... as he hints 'living with exes' caused it
									li
										a(href='/tvshowbiz/article-3959212/Alessandra-Ambrosio-displays-toned-tummy-rolled-sports-tank-tight-leggings-runs-errand-LA.html')
											img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/22/01/3AA34E6C00000578-0-image-m-80_1479777022244.jpg', style='display: none', height='115', width='154', alt='')
											noscript
												img(src='http://i.dailymail.co.uk/i/pix/2016/11/22/01/3AA34E6C00000578-0-image-m-80_1479777022244.jpg', height='115', width='154', alt='')
											span.pufftext
												span.arrow-small-r
												strong
													| Alessandra Ambrosio displays her toned tummy in rolled up sports tank and tight leggings as she runs errand in LA
												|           Preparing for big show
									li
										a(href='/tvshowbiz/article-3958916/Salma-Hayek-shows-svelte-figure-busty-blue-frock-cuddles-Stella-McCartney-hubby-Francois-Henri-Pinault-charity-bash-London.html')
											img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/21/23/3AA2DAC400000578-0-image-m-51_1479770057719.jpg', style='display: none', height='115', width='154', alt='')
											noscript
												img(src='http://i.dailymail.co.uk/i/pix/2016/11/21/23/3AA2DAC400000578-0-image-m-51_1479770057719.jpg', height='115', width='154', alt='')
											span.pufftext
												span.arrow-small-r
												strong
													| Salma Hayek shows off svelte figure in busty blue frock as she cuddles up to Stella McCartney at charity bash
												|           Always looks chic
									li
										a(href='/tvshowbiz/article-3957322/Loose-Women-reveal-star-Linda-Robson-grandma-daughter-gives-birth-girl.html')
											img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/21/16/3A9FD85000000578-0-image-m-2_1479744615908.jpg', style='display: none', height='115', width='154', alt='')
											noscript
												img(src='http://i.dailymail.co.uk/i/pix/2016/11/21/16/3A9FD85000000578-0-image-m-2_1479744615908.jpg', height='115', width='154', alt='')
											span.pufftext
												span.arrow-small-r
												strong
													| Loose Women's Linda Robson has become a grandmother again as her daughter gives birth to 11lbs 1oz baby girl... who ironically could be called MINNIE
									li
										a.bottom(href='/tvshowbiz/article-3957550/Jack-Ramsay-looks-spitting-image-celebrity-chef-dad-Gordon-attend-BAFTA-Children-s-Awards-London.html')
											img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-src='http://i.dailymail.co.uk/i/pix/2016/11/21/15/3A9F6B0A00000578-0-image-a-11_1479741613435.jpg', style='display: none', height='115', width='154', alt='')
											noscript
												img(src='http://i.dailymail.co.uk/i/pix/2016/11/21/15/3A9F6B0A00000578-0-image-a-11_1479741613435.jpg', height='115', width='154', alt='')
											span.pufftext
												span.arrow-small-r
												strong
													| Jack Ramsay looks the spitting image of his celebrity chef dad Gordon as they attend the BAFTA Children's Awards in London
												|           Doppelgangers!

						.item.automated_tabbed_headlines_thumbs_wrapper
							#p-1016.femail.tabbed-headlines.cleared
								ul.js-links.dm-tabs.cnr5.cleared
									li#t-p-1016-1.dm-tab.bdrcc.cnr-bdr.link-wocc.js-active
										span.xocc.tl  
										span.xocc.tr  
										a(href='#p-1016-1')
											span Today's headlines
									li#t-p-1016-2.dm-tab.bdrcc.cnr-bdr.ow-igr2-bx.link-ccogr2
										span.xocc.tl  
										span.xocc.tr  
										a(href='#p-1016-2')
											span Most Read
								.drop-shadow
									.link-bow.linkro-wocc.bdrcc
										#p-1016-1.dm-tab-pane(data-track-module='sm-787^automated_tabbed_headlines_thumbs')
											ul.tmbs
												li
													a.bold(href='/femail/article-3964134/The-Iran-DON-T-want-Rich-Kids-Tehran-flaunt-incredibly-lavish-lifestyles-including-private-pools-supercars-million-pound-mansions.html')
														img(src='http://i.dailymail.co.uk/i/pix/2016/11/23/11/3AAF039F00000578-0-image-a-30_1479900078941.jpg', alt='', width='45', height='43')
														span
															| ‘The Iran they DON’T want you to see': The Rich Kids of Tehran flaunt their incredibly lavish lifestyles...
												li
													a(href='/femail/article-3963946/You-not-one-Del-Boy-owners-famous-screen-houses-Harry-Potter-Outnumbered-cashed-high-profile-properties.html')
														img(src='http://i.dailymail.co.uk/i/pix/2016/11/23/13/3AAFF8D300000578-0-image-a-53_1479907022428.jpg', alt='', width='45', height='43')
														span
															| You're not the only one, Del Boy! How the owners of famous on-screen houses - seen in Harry Potter to...
												li
													a.bold(href='/femail/article-3960930/How-colours-image-Fiendishly-tricky-vision-test-claims-just-one-four-people-able-spot-all.html')
														img(src='http://i.dailymail.co.uk/i/pix/2016/11/22/14/3AA75DB100000578-0-image-a-23_1479825902749.jpg', alt='', width='45', height='43')
														span
															| How many colours can YOU see in this image? Fiendishly tricky vision test claims just one in four people...
											ul
												li.more
													a.bold(href='/news/headlines/index.html')
														span.arrow-small-r
														| MORE HEADLINES
										#p-1016-2.dm-tab-pane.dm-tab-pane-hidden(data-track-module='sm-787^automated_tabbed_headlines_thumbs_mostread')
											ul
												li
													a.bold(href='/femail/article-3960736/Kate-goes-Dippy-dinosaurs-Duchess-Cambridge-gives-right-royal-send-Natural-History-Museum-s-world-famous-Diplodocus-s-sent-national-tour.html')
														span.arrow-small-r  
														|             So good she bought it twice! The Duchess of Cambridge dazzles in £995 black cocktail dress at ceremony for children's mental health charity (and it’s the SAME one she wore in red on her Canada tour)
												li
													a.bold(href='/femail/article-3963726/Cougar-Janice-Richards-dates-men-half-age.html')
														span.arrow-small-r  
														|             ‘Why would I settle for someone my age when I know I can pull a 21-year-old?’ Twice-divorced cougar, 57, scours the internet for younger men as she insists they're better lovers
												li.more
													a.bold(href='/news/mostread/index.html?channel=femail')
														span.arrow-small-r
														| MOST READ IN DETAIL
						.item.mpu_wrapper
							#p-1017.mpu.adHolder.molads_mpu_bottom
						.home.item.html_snippet_module
						.sciencetech.item.html_snippet_module
							a(href='http://discountcode.dailymail.co.uk', target='_blank')
								img(src='http://i.dailymail.co.uk/i/pix/2016/vouchercampaign/vc_promo_femail_trending.png', width='100%', height='100')
						.sciencetech.item.html_snippet_module
							a(href='http://discountcode.dailymail.co.uk/amazon', target='_blank')
								img(src='http://i.dailymail.co.uk/i/pix/2016/vouchercampaign/vc_promo_femail_amazon.png', width='100%', height='100')
						.sciencetech.item.html_snippet_module
							a(href='http://discountcode.dailymail.co.uk/simply-be', target='_blank')
								img(src='http://i.dailymail.co.uk/i/pix/2016/vouchercampaign/vc_promo_femail_simplybe.png', width='100%', height='100')
						.sciencetech.item.html_snippet_module
							a(href='http://discountcode.dailymail.co.uk/tk-maxx', target='_blank')
								img(src='http://i.dailymail.co.uk/i/pix/2016/vouchercampaign/vc_promo_femail_tkmaxx.png', width='100%', height='100')
						.home.item.html_snippet_module
							#mobileDeviceAdvert

			.container
				.bottom
					#footer.footer(data-track-module='nav-footer^footer', data-track-selector='.dm-tab-pane a', data-track-pos='static')
						ul.femail.dm-tabs.cleared.js-links
							li.cnr-5.link-wocc
								span.tl  
								span.tr  
								a(href='#top') Back to top
						#footer-1.dm-tab-pane
							ul.nav-primary.cleared.bdrgr3
								li.home
									span.link-gr6ox.linkro-ccox
										a.no-border(href='/home/index.html') Home
								li.news
									span.link-gr6ox.linkro-ccox
										a(href='/news/index.html') News
								li.home
									span.link-gr6ox.linkro-ccox
										a(href='/ushome/index.html') U.S.
								li.sport
									span.link-gr6ox.linkro-ccox
										a(href='/sport/index.html') Sport
								li.tvshowbiz
									span.link-gr6ox.linkro-ccox
										a(href='/tvshowbiz/index.html') TV&Showbiz
								li.home
									span.link-gr6ox.linkro-ccox
										a(href='/auhome/index.html') Australia
								li.femail
									span.link-ccox.linkro-ccox
										a(href='/femail/index.html') Femail
								li.health
									span.link-gr6ox.linkro-ccox
										a(href='/health/index.html') Health
								li.sciencetech
									span.link-gr6ox.linkro-ccox
										a(href='/sciencetech/index.html') Science
								li.money
									span.link-gr6ox.linkro-ccox
										a(href='/money/index.html') Money
								li.video
									span.link-gr6ox.linkro-ccox
										a(href='/video/index.html') Video
								li.travel
									span.link-gr6ox.linkro-ccox
										a(href='/travel/index.html') Travel
								li.femail
									span.link-gr6ox.linkro-ccox
										a(href='/femail/fashionfinder/index.html') Fashion Finder

					.page-footer(data-track-module='nav-page_footer^page_footer', data-track-pos='static')
						a(href='/home/sitemap.html') Sitemap
						a(href='/home/sitemaparchive/index.html') Archive
						a(href='/home/videoarchive/index.html') Video Archive
						a(href='/topics') Topics Index
						a(href='/mobile') Mobile Apps
						a(href='/screensaver') Screensaver
						a(href='/home/rssMenu.html') RSS
						a(href='/textbased/channel-1/index.html', rel='nofollow') Text-based site
						a(href='http://mailpictures.newsprints.co.uk', target='_blank', rel='nofollow', title='Daily Mail Pictures') Reader Prints
						a(href='/ourpapers', target='_blank', rel='nofollow', title='Our Papers') Our Papers
						a.last(href='#top') Top of page
						br
						a(href='http://www.dailymail.co.uk', target='_blank', rel='nofollow', title='News, sport, health and showbiz from The Daily Mail') Daily Mail
						a(href='http://www.mailonsunday.co.uk', target='_blank', rel='nofollow', title='News, sport and showbiz from The Mail on Sunday') Mail on	Sunday
						a(href='http://www.localworld.co.uk/ourbrands', target='_blank', rel='nofollow', title='At the heart of all things local') This is Network
						a.last(href='http://www.thisismoney.co.uk', title='Financial Advice, News, Help & Guides from This is Money UK', target='_blank', rel='nofollow') This is Money
						br
						a(href='http://www.metro.co.uk', target='_blank', rel='nofollow', title='Competitions, games and offbeat stories from Metro') Metro
						a(href='http://www.jobsite.co.uk', target='_blank', rel='nofollow', title='Award-winning UK job search and jobs by email service') Jobsite
						a(href='http://www.mailtravel.co.uk/?utm_source=mailonline&utm_medium=referral&utm_campaign=mol-nav&utm_content=footer&mailonline=footer', target='_blank', rel='nofollow', title='Mail Travel') Mail Travel
						a(href='http://www.zoopla.co.uk', target='_blank', rel='nofollow', title='Find your ideal house, flat or apartment for sale or rent') Zoopla.co.uk
						a.last(href='http://www.primelocation.com', target='_blank', rel='nofollow', title='Search thousands of prime properties for sale or rent') Prime Location

					.and-footer(data-track-module='nav-and_footer^and_footer', data-track-pos='static')
						p Published by Associated Newspapers Ltd
						p Part of the Daily Mail, The Mail on Sunday & Metro Media Group
						a.copyRight.last(href='http://www.and.co.uk/', target='_blank', rel='nofollow') © Associated Newspapers Ltd
						a(href='/home/contactus') Contact us
						a(href='/howcomplain') How to complain
						a(href='http://www.mailadvertising.co.uk/', target='_blank', rel='nofollow') Advertise with us
						a(href='/syndication') Syndication
						a(href='/terms') Terms
						a(href='http://discountcode.dailymail.co.uk/', target='_blank') Discount Codes
						a(href='/privacy') Privacy policy & cookies
						a.cookies.last(href='/additionalcookieinfo', title='Find out more information about cookies on this website')
							img(src='http://i.dailymail.co.uk/i/furniture/misc/logo_cookie_reg.png', alt='Cookie regulation logo', width='12', height='12')



		// scripts block
		//- link(type='text/css', rel='stylesheet', href='css/additional.css')
		script(src='js/main.js', type='text/javascript')

		link(href="//vjs.zencdn.net/5.8/video-js.min.css" rel="stylesheet")
		script(src="//vjs.zencdn.net/5.8/video.min.js")

		script.
			var player = videojs('test-video', { /* Options */ }, function() {
			});
